<div class="page-layout simple fullwidth angular-material-elements">

  <!-- HEADER -->
  <div class="header accent p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">

    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
      <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-18">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>

        <span class="secondary-text">Historique Des affiches</span>
      </div>
      <div class="h2 mt-16">Historique Des affiches</div>
    </div>


  </div>
  <!--/Header-->
  <div class="content p-24" *ngIf="templateResultatImage[0]">
    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
      <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
        name="form" [formGroup]="form" #formulaire="ngForm" (ngSubmit)="submit()">
        <div>
          <!--<img src="assets/images/logos/android.png" width="150px" height="150px" style="float: right">-->
        </div>
        <div class="h2 mb-24">créez votre affiche</div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="70" *ngIf="false">
            <input matInput placeholder="template ID" formControlName="templateID"  required>
            <mat-error>Id</mat-error>
          </mat-form-field>



          <mat-form-field fxFlex="70">
            <input matInput placeholder="Nom Promotion" formControlName="month" [(ngModel)]="historique.value[1].value"
              required>
            <mat-error>nom de la promotion est obligatoire!</mat-error>
          </mat-form-field>
          <!-- <img src="assets/images/logos/android.png" width="150px" height="150px" style="float: right">-->
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="70">
            <textarea matInput placeholder="Nom produit" formControlName="name" [(ngModel)]="historique.value[2].value"
              required>

              </textarea>
            <mat-error>nom du produit est obligatoire!</mat-error>
          </mat-form-field>




        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field fxFlex="70">
            <textarea matInput placeholder="Detail Produit" formControlName="type"
              [(ngModel)]="historique.value[3].value"></textarea>
            <mat-error>details du produit sont obligatoires!</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field fxFlex="70">
            <textarea matInput placeholder="Reduction" formControlName="discount"
              [(ngModel)]="historique.value[5].value" required>

              </textarea>
            <mat-error>reduction est obligatoire!</mat-error>
          </mat-form-field>




        </div>





        <div fxLayout="row" fxLayoutAlign="space-between non">
          <div >
  <app-file-upload formControlName="myFile"  required   ></app-file-upload>
 
</div>

          <button type="submit" class="mr-80" mat-raised-button color="accent" [disabled]="form.invalid"> Submit Post
          </button>
        </div>





      </form>
    </div>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>


  </div>

  <div class="content p-24" *ngIf="templateResultatImage[1]">
    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
      <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
        name="form" [formGroup]="form" #formulaire="ngForm" (ngSubmit)="submit()">

        <div class="h2 mb-24">créez votre affiche</div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="50" *ngIf=false>
            <input matInput placeholder="template ID" formControlName="templateID" required>
            <mat-error>Id</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="50">
            <input matInput placeholder="Nom Promotion" formControlName="month" [(ngModel)]="historique.value[1].value"
              required>
            <mat-error>nom Promotion est obligatoire!</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Nom produit" formControlName="name" [(ngModel)]="historique.value[2].value"
              required>

            </textarea>
            <mat-error>nom du Produit est obligatoire!</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Detail Produit" formControlName="type"
              [(ngModel)]="historique.value[3].value"></textarea>
            <mat-error>details du produit sont obligatoires!</mat-error>
          </mat-form-field>


        </div>


        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="oldprice" formControlName="oldprice"
              [(ngModel)]="historique.value[10].value" required>

            </textarea>
            <mat-error>ancien prix est obligatoire!</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="newprice" formControlName="newprice" [(ngModel)]="historique.value[7].value"
              required>

            </textarea>
            <mat-error>nouveau prix est obligatoire!</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="prix litre" formControlName="prixlitre"
              [(ngModel)]="historique.value[8].value" required>

            </textarea>
            <mat-error>prix de la litre est obligatoire!</mat-error>
          </mat-form-field>




        </div>






        <div fxLayout="row" fxLayoutAlign="space-between non">
          <!--   <div *ngIf="!validate">
              <app-file-upload formControlName="myFile" required   ></app-file-upload>
             
            </div>-->

          <button type="submit" class="mr-80" mat-raised-button color="accent" [disabled]="form.invalid"> Submit Post
          </button>
        </div>








      </form>
      <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Loading...</p>
      </ngx-spinner>
    </div>



  </div>

  <div class="content p-24" *ngIf="templateResultatImage[2]">
    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
      <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
        name="form" [formGroup]="form" #formulaire="ngForm" (ngSubmit)="submit()">

        <div class="h2 mb-24">créez votre affiche</div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="50" *ngIf=false>
            <input matInput placeholder="template ID" formControlName="templateID" required>
            <mat-error>Id</mat-error>
          </mat-form-field>


          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Nom Promotion" formControlName="month" [(ngModel)]="historique.value[1].value" required>

              </textarea>
            <mat-error>Nom de la promotion est obligatoire</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Nom produit" formControlName="name" required>

            </textarea>
            <mat-error>Nom du produit est obligatoire</mat-error>
          </mat-form-field>


        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Detail Produit" formControlName="type" [(ngModel)]="historique.value[3].value"></textarea>
            <mat-error>details du produits sont obligatoires!</mat-error>
          </mat-form-field>




        </div>


        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="prix unitaire" formControlName="unitPrice" [(ngModel)]="historique.value[9].value">

      </textarea>
            <mat-error>prix unitaire est obligatoire!</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="prix double" formControlName="doublePrice" [(ngModel)]="historique.value[10].value" required>

      </textarea>
            <mat-error>doublePrice est obligatoire!</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="prix litre" formControlName="prixlitre" [(ngModel)]="historique.value[8].value" required>

      </textarea>
            <mat-error>prix litre est obligatoire!</mat-error>
          </mat-form-field>

        </div>





        <div fxLayout="row" fxLayoutAlign="space-between non">
          <!-- <div *ngIf="!validate">
      <app-file-upload formControlName="myFile"  required   ></app-file-upload>
     
    </div>-->

          <button type="submit" class="mr-80" mat-raised-button color="accent" [disabled]="form.invalid"> Submit Post
          </button>
        </div>






      </form>
    </div>

    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>

  </div>


  <div class="content p-24" *ngIf="templateResultatImage[3]">
    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
      <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
        name="form" [formGroup]="form" #formulaire="ngForm" (ngSubmit)="submit()">

        <div class="h2 mb-24">créez votre affiche</div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="50" *ngIf=false>
            <input matInput placeholder="template ID" formControlName="templateID" required>
            <mat-error>Id</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="50">
            <input matInput placeholder="Nom Promotion" formControlName="month" [(ngModel)]="historique.value[1].value" required>
            <mat-error>nom Promotion est obligatoire!</mat-error>
          </mat-form-field>



        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Nom produit" formControlName="name"  [(ngModel)]="historique.value[2].value"required>

          </textarea>
            <mat-error>nom de produit est obligatoire!</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Details Produit" formControlName="type" [(ngModel)]="historique.value[3].value"></textarea>
            <mat-error>details du produit sont obligatoires!</mat-error>
          </mat-form-field>



        </div>


        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="prix unitaire" formControlName="unitPrice" [(ngModel)]="historique.value[9].value" required>

              </textarea>
            <mat-error>prix unitaire est obligatoire!</mat-error>
          </mat-form-field>


          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="prix litre" formControlName="prixlitre" [(ngModel)]="historique.value[8].value" required>

                  </textarea>
            <mat-error>prix de la litre est obligatoire!</mat-error>
          </mat-form-field>


          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="newprice" formControlName="newprice" [(ngModel)]="historique.value[7].value" required>

            </textarea>
            <mat-error>nouveau prix est obligatoire! </mat-error>
          </mat-form-field>


          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="oldprice" formControlName="oldprice"  [(ngModel)]="historique.value[6].value"required>

              </textarea>
            <mat-error>ancien prix est obligatoire!</mat-error>
          </mat-form-field>





        </div>





        <div fxLayout="row" fxLayoutAlign="space-between non">
          <!--  <div *ngIf="!validate">
      <app-file-upload formControlName="myFile" required   ></app-file-upload>
     
    </div>-->

          <button type="submit" class="mr-80" mat-raised-button color="accent" [disabled]="form.invalid"> Submit Post
          </button>
        </div>






      </form>
    </div>


    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>

  </div>

  <div class="content p-24" *ngIf="templateResultatImage[4]">
    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
      <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
        name="form" [formGroup]="form" #formulaire="ngForm" (ngSubmit)="submit()">

        <div class="h2 mb-24">créez votre affiche</div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="50" *ngIf=false>
            <input matInput placeholder="template ID" formControlName="templateID" required>
            <mat-error>Id</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="50">
            <input matInput placeholder="Nom Promotion" formControlName="month" [(ngModel)]="historique.value[1].value" required>
            <mat-error>nom de la promotion est obligatoire!</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Nom produit" formControlName="name" [(ngModel)]="historique.value[2].value" required>

            </textarea>
            <mat-error>nom du produit est obligatoire!</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Detail Produit" formControlName="type" [(ngModel)]="historique.value[3].value"></textarea>
            <mat-error>details du produit sont obligatoires !</mat-error>
          </mat-form-field>


        </div>


        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Reduction" formControlName="discount" [(ngModel)]="historique.value[5].value" required>

            </textarea>
            <mat-error>reduction est obligatoire </mat-error>
          </mat-form-field>




        </div>





        <div fxLayout="row" fxLayoutAlign="space-between non">
          <!--<div *ngIf="!validate">
      <app-file-upload formControlName="myFile"  required   ></app-file-upload>
     
    </div>-->

          <button type="submit" class="mr-80" mat-raised-button color="accent" [disabled]="form.invalid"> Submit Post
          </button>
        </div>





      </form>
    </div>

    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>

  </div>

  <!--Template Sans Image-->

  <div class="content p-24" *ngIf="templateResultatSansImage[0]">
    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
      <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
        name="form" [formGroup]="form" #formulaire="ngForm" (ngSubmit)="submit()">

        <div class="h2 mb-24">créez votre affiche</div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="50" *ngIf=false>
            <input matInput placeholder="template ID" formControlName="templateID" required #templateID>
            <mat-error>Id</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="50">
            <input matInput placeholder="Nom Promotion" formControlName="month" [(ngModel)]="historique.value[1].value" required #month>
            <mat-error>nom du promotion est obligatoire!</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">



          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Nom produit" formControlName="name"  [(ngModel)]="historique.value[2].value"required #name>

                  </textarea>
            <mat-error>nom du produit est obligatoire!</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Detail Produit" formControlName="type"  [(ngModel)]="historique.value[3].value" required #type></textarea>
            <mat-error>details du produits sont obligatoires!</mat-error>
          </mat-form-field>



        </div>


        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="ancien prix " formControlName="oldprice"  [(ngModel)]="historique.value[6].value" required #oldprice>

            </textarea>
            <mat-error>ancien prix est obligatoire!</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="nouveau prix " formControlName="newprice"  [(ngModel)]="historique.value[7].value" required #newprice>

            </textarea>
            <mat-error>nouveau prix est obligatoire! </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="prix litre " formControlName="prixlitre"  [(ngModel)]="historique.value[8].value" required #prixlitre>

            </textarea>
            <mat-error>prixlitre est obligatoire!</mat-error>
          </mat-form-field>



        </div>





        <div>

          <label for="Submit Post"> </label>
          <button type="submit" class="mr-80" mat-raised-button color="accent" [disabled]="form.invalid"
            style="float:right"> Submit Post </button>
        </div>





      </form>
    </div>

    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>

  </div>

  <div class="content p-24" *ngIf="templateResultatSansImage[1]">
    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
      <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
        name="form" [formGroup]="form" #formulaire="ngForm" (ngSubmit)="submit()">

        <div class="h2 mb-24">créez votre affiche</div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="50" *ngIf=false>
            <input matInput placeholder="template ID" formControlName="templateID" required #templateID>
            <mat-error>Id</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Nom produit" formControlName="name"  [(ngModel)]="historique.value[2].value"required #name>

            </textarea>
            <mat-error>Nom du produit est obligatoire</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Detail Produit" formControlName="type" [(ngModel)]="historique.value[3].value" #type></textarea>
            <mat-error>details du produits sont obligatoires!</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="50">
            <input matInput placeholder="Nom Promotion" formControlName="month"  [(ngModel)]="historique.value[1].value"required #month>
            <mat-error>nom du promotion est obligatoire!</mat-error>
          </mat-form-field>


        </div>


        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="prix unitaire" formControlName="unitPrice" [(ngModel)]="historique.value[9].value"required>

      </textarea>
            <mat-error>prix unitaire est obligatoire!</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="prix double" formControlName="doublePrice" [(ngModel)]="historique.value[10].value" required>

      </textarea>
            <mat-error>prix double est obligatoire!</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="prix litre" formControlName="prixlitre" [(ngModel)]="historique.value[8].value" required>

      </textarea>
            <mat-error>prix litre est obligatoire!</mat-error>
          </mat-form-field>




        </div>






        <div>

          <label for="Submit Post"> </label>
          <button type="submit" class="mr-80" mat-raised-button color="accent" style="float:right"
            [disabled]="form.invalid"> Submit Post </button>
        </div>





      </form>
    </div>

    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>

  </div>


  <div class="content p-24" *ngIf="templateResultatSansImage[2]">
    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
      <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
        name="form" [formGroup]="form" #formulaire="ngForm" (ngSubmit)="submit()">

        <div class="h2 mb-24">créez votre affiche</div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="50" *ngIf=false>
            <input matInput placeholder="template ID" formControlName="templateID" required #templateID>
            <mat-error>Id</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="50">
            <input matInput placeholder="Nom Promotion" formControlName="month" [(ngModel)]="historique.value[1].value"required #month>
            <mat-error>nom de la promotion </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Nom produit" formControlName="name"  [(ngModel)]="historique.value[2].value" required #name>

            </textarea>
            <mat-error>nom du produit est obligatoire!</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Detail Produit" formControlName="type" [(ngModel)]="historique.value[3].value" #type></textarea>
            <mat-error>Details du Produit sont obligatoires !</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="N" formControlName="unitPrice" [(ngModel)]="historique.value[9].value" #unitPrice></textarea>
            <mat-error>ce champ est obligatoire!</mat-error>
          </mat-form-field>


        </div>







        <div>

          <label for="Submit Post"> </label>
          <button type="submit" class="mr-80" mat-raised-button color="accent" style="float:right"
            [disabled]="form.invalid"> Submit Post </button>
        </div>





      </form>
    </div>

    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>

  </div>


  <div class="content p-24" *ngIf="templateResultatSansImage[3]">
    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
      <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
        name="form" [formGroup]="form" #formulaire="ngForm" (ngSubmit)="submit()">

        <div class="h2 mb-24">créez votre affiche</div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="50" *ngIf=false>
            <input matInput placeholder="template ID" formControlName="templateID" required #templateID>
            <mat-error>Id</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Nom Promotion" formControlName="month" [(ngModel)]="historique.value[1].value" required #month>

              </textarea>
            <mat-error>nom de la promotion est obligatoire!</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Nom produit" formControlName="type" [(ngModel)]="historique.value[3].value" required #type>

              </textarea>
            <mat-error>nom du produit est obligatoire!</mat-error>
          </mat-form-field>



        </div>


        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="nouveau prix " formControlName="newprice" [(ngModel)]="historique.value[7].value" required #newprice>

                </textarea>
            <mat-error>nouveau prix est obligatoire! </mat-error>
          </mat-form-field>


          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="ancien prix " formControlName="oldprice" [(ngModel)]="historique.value[6].value" required #oldprice>

              </textarea>
            <mat-error>ancien prix est obligatoire!</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="prix litre " formControlName="prixlitre" [(ngModel)]="historique.value[8].value" required #prixlitre>

              </textarea>
            <mat-error>prixlitre est obligatoire!</mat-error>
          </mat-form-field>





        </div>





        <div>

          <label for="Submit Post"> </label>
          <button type="submit" class="mr-80" mat-raised-button color="accent" style="float:right"
            [disabled]="form.invalid"> Submit Post </button>
        </div>





      </form>
    </div>

    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>

  </div>


  <div class="content p-24" *ngIf="templateResultatSansImage[4]">
    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
      <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
        name="form" [formGroup]="form" #formulaire="ngForm" (ngSubmit)="submit()">

        <div class="h2 mb-24">créez votre affiche</div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="50" *ngIf=false>
            <input matInput placeholder="template ID" formControlName="templateID" required>
            <mat-error>Id</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Nom promotion" formControlName="month" [(ngModel)]="historique.value[1].value" required>

              </textarea>
            <mat-error>nom de la promotion est obligatoire!</mat-error>
          </mat-form-field>


          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Nom produit" formControlName="name" [(ngModel)]="historique.value[2].value" required>

            </textarea>
            <mat-error>nom du produit est obligatoire!</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">



          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Detail Produit" formControlName="type" [(ngModel)]="historique.value[3].value"></textarea>
            <mat-error>Details du Produit sont obligatoires !</mat-error>
          </mat-form-field>


        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Reduction" formControlName="discount" [(ngModel)]="historique.value[5].value" required>

              </textarea>
            <mat-error>Reduction est obligatoire!</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Nième" formControlName="unitPrice" [(ngModel)]="historique.value[9].value" required>

                  </textarea>
            <mat-error>Nième est obligatoire!</mat-error>
          </mat-form-field>


        </div>





        <div>

          <label for="Submit Post"> </label>
          <button type="submit" class="mr-80" mat-raised-button color="accent" style="float:right"
            [disabled]="form.invalid"> Submit Post </button>
        </div>





      </form>
    </div>

    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>

  </div>



</div>