<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
  <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="column" fxLayoutAlign="center start">
          <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="secondary-text s-18">home</mat-icon>
              <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
              <span class="secondary-text">Editer un Produit</span>
          </div>
          <div class="h1 mt-16">Editez votre Produit</div>
      </div>
  </div>
  <div class="content p-80">
      <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
          <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
          fxFlex="1 0 auto" name="form" [formGroup]="form" #formulaire="ngForm" (ngSubmit)="submit()" *ngIf="produit">

        <div class="h2 mb-24">Produit Form</div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field fxFlex="50">
            <input matInput placeholder="Nom du Produit"  formControlName="nom" [(ngModel)]="produit.nom" required >
            <mat-error>Nom du Produit est obligatoire!</mat-error>
        </mat-form-field>
                
        <mat-form-field fxFlex="50">
          <input matInput placeholder="Laboratoire" formControlName="laboratoire"  [(ngModel)]="produit.laboratoire" required >
          <mat-error>Nom du laboratoire est obligatoire!</mat-error>
      </mat-form-field>
       
           
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

            <mat-form-field fxFlex="100">
                <textarea matInput placeholder="cipaclean" formControlName="cipaclean" [(ngModel)]="produit.cipaclean" required >
                  
                </textarea>
                <mat-error>cipaclean est obligatoire!</mat-error>
            </mat-form-field>

          
            <mat-form-field fxFlex="100">
              <textarea matInput placeholder="description" formControlName="description"  [(ngModel)]="produit.description" required >
                
              </textarea>
              <mat-error>la description est obligatoire!</mat-error>
          </mat-form-field>
        
           


          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field fxFlex="100">
                        <textarea matInput placeholder="gamme" formControlName="gamme" [(ngModel)]="produit.gamme" required >
                          
                        </textarea>
                        <mat-error>la gamme  est obligatoire!</mat-error>
                    </mat-form-field>
        

                    <mat-form-field fxFlex="100">
                            <textarea matInput placeholder="quantité" formControlName="quantity" [(ngModel)]="produit.quantity" required >
                              
                            </textarea>
                            <mat-error>la quantité est obligatoire</mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="100">
                            <textarea matInput placeholder="prix" formControlName="prix" [(ngModel)]="produit.prix" required >
                              
                            </textarea>
                            <mat-error>le prix est obligatoire</mat-error>
                        </mat-form-field>
            
          </div>
     
<div fxLayout="column"  fxFlex="1 0 auto">
       
  
  <mat-form-field>
    <mat-select placeholder="format " formControlName="format" [(ngModel)]="produit.format">
      <mat-option *ngFor="let format of format" [value]="format">
        {{format}}
      </mat-option>
    </mat-select>
  </mat-form-field>
<br>

  
  <mat-form-field>
    <mat-select placeholder="uniter"  formControlName="unit" [(ngModel)]="produit.unit">
      <mat-option *ngFor="let uniter of uniter"  [value]="uniter">
        {{uniter}}
      </mat-option>
    </mat-select>
  </mat-form-field>
                
           
</div>
 

        
        <div >
         

            <label for="Back To list"> </label>
          <button  class="mr-80"  mat-raised-button color="accent"  routerLink="/app/products" > Retour à la liste </button>
            <label for="Submit Post"> </label>
            <button type="submit" class="mr-80"  mat-raised-button color="accent"   style="float: right"> Submit Produit </button>
        
        
          </div>
        




    </form>
      </div>

</div>




</div>


