<div class="page-layout simple fullwidth angular-material-elements">
<!--header-->
    <div class="header accent p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">

    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
        <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="secondary-text s-18">home</mat-icon>
          
            <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
            <span class="secondary-text">List Of Your Elements </span>
        </div>
        <div class="h2 mt-16">List Elements</div>
    </div>

    </div>
<!--/header-->

<!--content-->
<div class="content p-64">

    <button type="button" mat-raised-button color="accent" routerLink="/app/overview/dashboard">Back</button>

    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="progress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> firstname </th>
            <td mat-cell *matCellDef="let row"> {{row.firstname}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
      
          <!-- Color Column -->
          <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> cin </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.cin}} </td>
          </ng-container>
      <!-- Action Column -->
      <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="mat-column-right">
            actions
          </th>
          <td mat-cell *matCellDef="let row" class="mat-column-right">
         <button mat-button color="primary" (click)="editIssue(row.id,row.name)">Edit</button>
         <button mat-button color="primary" (click)="deleteIssue(row.id)">Delete</button>
          </td>
        </ng-container>
        <!--/ Action Colum-->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>

</div>

<!--/content-->

</div>
