<div id="products" class="page-layout carded fullwidth inner-scroll" *ngIf="((userRolePriority==role3))">
    <img src="assets/images/error/404_error.png" 
    style="width:100%; height:100%;"
    alt="error">
</div>

<div id="products" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- HEADER -->
      <div class="header accent"
           fxLayout="column" fxLayoutAlign="center center"
           fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

          <!-- APP TITLE -->
          <div class="logo my-12 m-sm-0"
               fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="logo-icon mr-16" >
                  shopping_basket
              </mat-icon>
              <span class="logo-text h1" >
                  Products
              </span>
          </div>
          <!-- / APP TITLE -->

          <!-- SEARCH -->
          <div class="search-input-wrapper mx-24 m-md-0"
               fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
              <label for="search" class="mr-8">
                  <mat-icon class="secondary-text">search</mat-icon>
              </label>
              <mat-form-field floatLabel="never" fxFlex="1 0 auto">
                  <input id="search" matInput #filter placeholder="Search" [(ngModel)]="searchText">
              </mat-form-field>
          </div>
          <!-- / SEARCH -->

          <button mat-raised-button
                [routerLink]="'/app/add-produit'"
                  class="add-product-button fuse-white my-12 mt-sm-0">
              <span>ADD NEW PRODUCT</span>
          </button>

      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card">

          <mat-table class="products-table"
                     #table [dataSource]="products | filter : searchText"
                     matSort
                     
                     fusePerfectScrollbar>

              <!-- ID Column -->
              <ng-container matColumnDef="Image">
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="margin-left:20px">Image</mat-header-cell>
                  <mat-cell *matCellDef="let product">
                      <img [src]="product.img" width="40px" height="40px" style="margin-left: 20px">
                  </mat-cell>
              </ng-container>

              <!-- Image Column -->
         
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                  <mat-cell *matCellDef="let product">
                      <p class="text-truncate" style="margin-left:10px">{{product.nom}}</p>
                  </mat-cell>
              </ng-container>

              <!-- labo Column -->
              <ng-container matColumnDef="laboratoire">
                  <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Laboratoire</mat-header-cell>
                  <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
                      <p class="category text-truncate" style="margin-left:10px">
                         
                        {{product.laboratoire}}
                      </p>
                  </mat-cell>
              </ng-container>

 <!-- gamme Column -->

              <ng-container matColumnDef="Gamme">
                <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Gamme</mat-header-cell>
                <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
                    <p class="category text-truncate" style="margin-left:10px">
                       
                      {{product.gamme}}
                    </p>
                </mat-cell>
            </ng-container>

 <!-- gamme Column -->

 <ng-container matColumnDef="format">
    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Format</mat-header-cell>
    <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
        <p class="category text-truncate" style="margin-left:20px">
           
          {{product.format}}
        </p>
    </mat-cell>
</ng-container>

<!-- unité Column -->
<ng-container matColumnDef="unité">
    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>unité</mat-header-cell>
    <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
        <p class="category text-truncate" style="margin-left:10px">
           
          {{product.unit}}
        </p>
    </mat-cell>
</ng-container>

<!-- unité Column -->
<ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md  style="margin-right:50px">Description</mat-header-cell>
    <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
        <p class="category text-truncate" style="margin-left:10px">
           
          {{product.description}}
        </p>
    </mat-cell>
</ng-container>

              <!-- Price Column -->
              <ng-container matColumnDef="prix">
                  <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs style="margin-right:50px">prix</mat-header-cell>
                  <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
                      <p class="price text-truncate" style="margin-left:30px">
                         {{product.prix | currency:'EUR':'symbol'}}
                         
                      </p>
                  </mat-cell>
              </ng-container>

              <!-- Quantity Column -->
              <ng-container matColumnDef="quantity">
                  <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Quantity</mat-header-cell>
                  <mat-cell *matCellDef="let product" fxHide fxShow.gt-sm >

                      <span class="quantity-indicator text-truncate"
                            [ngClass]="{'red-500':product.quantity <= 5, 'amber-500':product.quantity > 5 && product.quantity <= 25,'green-600':product.quantity > 25}">
                      </span>
                      <span >
                       {{product.quantity}}
                      </span>

                  </mat-cell>
              </ng-container>

              <!-- Active Column -->
              <ng-container matColumnDef="active">
                  <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Active</mat-header-cell>
                  <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs style="padding-right:100px">
                    <button mat-button color="primary" (click)="editproduit(product.id)" >Edit</button>
                    <button mat-button color="primary" (click)="deleteproduit(product.id)">Delete</button>
                  </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

              <mat-row *matRowDef="let product; columns: displayedColumns;"
                       class="product"
                       matRipple
                      >
              </mat-row>

          </mat-table>

          <mat-paginator #paginator
                         [length]="dataSource.filteredData.length"
                         [pageIndex]="0"
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>

      </div>
      <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
