<div id="forms" class="page-layout simple fullwidth" fxLayout="column" *ngIf="this.id === this.ownerId">
  <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-18">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Edit Pharmacy</span>
      </div>
      <div class="h1 mt-16">Forms</div>
    </div>
  </div>
  <div class="content p-80"> <!-- [formGroup]="form"-->
    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
      <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
        name="form" #formulaire="ngForm" (ngSubmit)="Submit()" [formGroup]="form" style="padding-left: 0px">

        <div class="h2 mb-24">Editez votre pharmacie</div>
        <br>
        <div class="h2 mb-24">Info </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="email" name ="email" [(ngModel)]="pharmacy.email" [ngModelOptions]="{standalone: true}" required> 
            <mat-error>email est obligatoire! </mat-error>
          </mat-form-field><h2>    | </h2>



          <mat-form-field fxFlex="50">
            <input matInput placeholder="fax" name ="fax"  [(ngModel)]="pharmacy.fax" [ngModelOptions]="{standalone: true}" required>
            <mat-error> fax est obligatoire!</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="nom" name ="nom"  [(ngModel)]="pharmacy.name" [ngModelOptions]="{standalone: true}" required>

              </textarea>
            <mat-error>nom est obligatoire!</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="phone"  name ="phone"  [(ngModel)]="pharmacy.phone" [ngModelOptions]="{standalone: true}" required>
            <mat-error>phone est obligatoire!</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="website" name ="website"  required
              [(ngModel)]="pharmacy.website"></textarea>
            <mat-error>website est obligatoire!</mat-error>
          </mat-form-field>

        </div>
        <br>
        <div class="h2 mb-24">Address</div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="city"  name ="city" [(ngModel)]="pharmacy.address.city" [ngModelOptions]="{standalone: true}" required>

                      </textarea>
            <mat-error>city est obligatoire!</mat-error>
          </mat-form-field>


          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="pays" name ="pays"  [(ngModel)]="pharmacy.address.country" [ngModelOptions]="{standalone: true}"
              required>

                          </textarea>
            <mat-error>pays est obligatoire!</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="rue" name ="rue"  [(ngModel)]="pharmacy.address.street" [ngModelOptions]="{standalone: true}"
              required>

                        </textarea>
            <mat-error>rue est obligatoire!</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="zip"  name ="zip"  [(ngModel)]="pharmacy.address.zip" [ngModelOptions]="{standalone: true}" required>

                      </textarea>
            <mat-error>zip est obligatoire!</mat-error>
          </mat-form-field>

        </div>
<br>
        <div class="h2 mb-24" > openingDetails</div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto"
        *ngFor="let  detail of openingDetails ; let i=index">

            <!--<input matInput placeholder="openingTime" name ="openingTime" [(ngModel)]="detail.openingTime" [ngModelOptions]="{standalone: true}"
            required>-->
                <div fxFlex="100">
                    <app-timepick (emittedTime)="receiveOpeningTime($event,detail)" [defaultOpeningTime]="detail.openingTime"></app-timepick>
                </div>
                <br>
                <div fxFlex="100">
                    <app-timepick-close (emittedTime)="receiveClosingTime($event,detail)" [defaultClosingTime]="detail.closingTime"></app-timepick-close>
                </div>

         <!-- <mat-form-field fxFlex="100">-->
            <!--<input matInput placeholder="closingTime"  name ="closingTime" [(ngModel)]="detail.closingTime"
            [ngModelOptions]="{standalone: true}" required>-->

            <!--<div class="default-time-example">
                <input aria-label="default time" [ngxTimepicker]="fullTime" matInput  placeholder="closingTime" required readonly>
                <ngx-material-timepicker #fullTime></ngx-material-timepicker>   
           </div>
            <mat-error>closingTime est obligatoire!</mat-error>
          </mat-form-field>-->

          <mat-form-field fxFlex="100">
            <input matInput placeholder="data"
              required>


            <mat-error>data est obligatoire!</mat-error>
          </mat-form-field>



          <mat-form-field fxFlex="100">
            <input matInput placeholder="day" name ="day"  [(ngModel)]="detail.day" [ngModelOptions]="{standalone: true}"  required>



            <mat-error>day est obligatoire!</mat-error>
          </mat-form-field><h3>---------</h3>


</div>
<br>

<div class="h2 mb-24"> additionalInfo</div>


<div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto" 
*ngFor="let info of pharmacy.additionalInfo">
          <mat-form-field fxFlex="100">
            <input matInput placeholder="label" name="label" value={{info.label}} 
              required>


            <mat-error>label est obligatoire!</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="100">
            <input matInput placeholder="value" name="value"  value={{info.value}} 
              required>


            <mat-error>value est obligatoire!</mat-error>
          </mat-form-field><h3>---------</h3>

        

          
        </div>

     
        <div>
            <label for="Back"> </label>
            <button class="mr-80" mat-raised-button color="accent"
              routerLink="/app/Mespharmacies"> Back to List </button>

          <label for="Submit Post"> </label>
          <button type="submit" class="mr-80" style="float:right" mat-raised-button color="accent"> Edit pharmacy </button>

       
        </div>





      </form>
    </div>

  </div>

</div>
<div *ngIf="this.id !== this.ownerId" class="page-layout simple fullwidth" fxLayout="column" >
    <img src="assets/images/error/404_error.png" alt="error">
</div>