<div class="page-layout black p-48"  fusePerfectScrollbar>
 
   <!-- <h2>{{'SAMPLE.DASHBOARD' | translate}}</h2>-->

    <img src="assets/images/logos/linky_logo.png" style="margin-left:150px">
    <h1>Gérez vos pharmacies et vos produits</h1>

</div>
