<div id="product" class="page-layout carded fullwidth">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->


    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/app/overview/dashboard'">
                    <mat-icon>arrow_back</mat-icon>
                </button>



                <div fxLayout="column" fxLayoutAlign="start start">
                    <div class="h2">
                    Configuration
                    </div>

                    <div class="subtitle secondary-text">
                        <span>  EDITER VOTRE  CONFIGURATION</span>
                    </div>
                </div>
            </div>


        </div>
        <!-- /HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <div>


             <!--   <form name="productForm"  class="product w-100-p" fxLayout="column" fxFlex
                    (ngSubmit)="onSubmit()">-->
                    <mat-tab-group >

                        <mat-tab label="CREATION DU MODELE DE FLYER" class="w-100-p">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <!--<mat-form-field class="w-100-p">
                                    <input matInput [matDatepicker]="picker" formControlName="date"
                                        placeholder="Choose a date" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>-->
                               <mat-form-field class="w-100-p" >
<input matInput [(ngModel)]="this.configEdit.Name" placeholder="NOM DE LA CONFIGURATION" >

                               </mat-form-field> 
                                <mat-form-field class="w-100-p">
                                    <mat-label>CHOISISSER UN MOIS</mat-label>
<mat-select  [(value)]="this.configEdit.Mois" >
<mat-option (click)="selectMois(moi)" *ngFor="let moi of mois" [value]="moi">
    {{moi}}
</mat-option>

</mat-select>


        <!--  <label>
                  Selling Point: <input formControlName="point" />
                </label>
                <button  mat-raised-button type="button" color="blue" (click)="openDialog(pointIndex)">Promotion</button>


                <button  mat-raised-button type="button" style="float:right" color="accent" (click)="deleteSellingPoint(pointIndex)">Delete Selling Point</button>
                </div>
                <br>
                <button mat-raised-button color="accent" type="button" (click)="addSellingPoint()">Add Selling Point</button>
            -->

    


                                </mat-form-field>


                                <div >
                                        <div *ngFor="let item of event.controls; let pointIndex=index"
                                            [formGroupName]="pointIndex">
                                            <mat-form-field class="w-85-p">
                                                <input placeholder="SAISIR UN EVENEMENT" matInput>
                                            </mat-form-field><mat-icon
                                            (click)="deleteEvent()">cancel </mat-icon>
                                            
                                        
                                        
                                    </div>
                                <br>
                                
                                        <button mat-raised-button color="accent" type="button"
                                            (click)="addEvent()">Ajouter un evenement </button>
                                        </div>
                                        
                               
<br><br>
                  
                                <mat-form-field class="w-100-p">
                                    <mat-label>CHOISISSER UNE PHARMACIE</mat-label>
                                    <mat-select [(value)]="configEdit.Pharmacie[0].name"  required>
                                            <mat-select-filter [placeholder]="'Filter'" [displayMember]="'name'"
                                            [array]="pharmacies" (filteredReturn)="filteredList1 =$event">
                                        </mat-select-filter>
                                        <mat-option *ngFor="let pharmacie of filteredList1" [value]="pharmacie.name"
                                            (click)="selectPharmacie(pharmacie)">{{pharmacie.name}}</mat-option>
                                    </mat-select>


                                   
                                </mat-form-field>

                               
                                <br><br>
                                <div class="w-100-p">
                                
                                    <mat-form-field class="w-100-p">
                                    <mat-label>CHOISISSER LE NOMBRE DE PAGES</mat-label>
                                    <mat-select [(value)]="this.configEdit.nbrPages">
                                    <mat-option *ngFor="let categorie of categories; let i=index" [value]="categorie"
                                        (click)="chooseCategories(categorie)"  > <!--[disabled]="count>choosenCategorie-1"-->
                                        {{categorie}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                                </div><br><br>

                                <div class="w-100-p" >
                                <div *ngFor="let field of tableau; let fieldIndex=index">
                                    
                                    <mat-form-field class="w-100-p">
                                        <mat-label>VOUS AVEZ CHOISI {{configEdit.selected_pages[fieldIndex]}}</mat-label>
                                        <mat-select [(value)]="configEdit.selected_pages[fieldIndex]" >
                                            <mat-option *ngFor="let page of pages; let i=index" [value]="page.name"
                                                (click)="selectPages(page.name,fieldIndex,page.id)"  > <!--[disabled]="count>choosenCategorie-1"-->
                                                {{page.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <br>
                                 
                                </div>
                                <ol>
                                        <div *ngFor="let ordre of configEdit.selected_pages">
                                            <li>
                                                {{ordre}}
                                            </li>
                                        </div>
                                    </ol>
                                </div>

                            </div>

                            <div>




                                <!-- <button mat-raised-button type="button" style=" margin-left:50px; line-height: 30px; box-sizing: border-box;"  color="accent" >
                            retour à la list
                        </button>-->
                                <!--<button mat-raised-button type="submit" [disabled]="productForm.invalid"
                                    style=" margin-left:50px; line-height: 30px; box-sizing: border-box;"
                                    color="accent">
                                    Genérer
                                </button>-->
                               <button mat-raised-button type="button"
                               
                                    style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box; margin-bottom: 100px"
                                    color="accent" (click)="Edit()" [disabled]="productForm.invalid">
                                    Modifier
                                </button>



                            </div>
                        </mat-tab>




                        <!--Tab2-->
                      


                    </mat-tab-group>
               <!-- </form>-->

            </div>

        </div>
        <!--/ CONTENT CARD-->




    </div>
    </div>