
<div id="product" class="page-layout carded fullwidth inner-scroll">

<button  mat-raised-button type="button" color="accent" style="width:100%">Click me!</button>


<!--<mat-form-field>
    <mat-select [disableOptionCentering]="true" #select1 placeholder="Auto Focus">
      <mat-select-filter *ngIf="select1.focused" [array]="variables" (filteredReturn)="filteredList2 =$event"></mat-select-filter>
      <mat-option *ngFor="let item of filteredList2" [value]="item">
        {{item}}
      </mat-option>
    </mat-select>
  </mat-form-field>-->
  



</div>

