<!--<div style="width:100%;height:50%">
<button  mat-raised-button type="button" color="accent" style="width:100%">VIT V PORTRAIT REDUCTION %</button>

<button  mat-raised-button type="button" color="accent" style="width:100%">LOT_1</button>

<button  mat-raised-button type="button" color="accent" style="width:100%">N+1</button>

<button  mat-raised-button type="button" color="accent" style="width:100%">Nieme à 1euro'</button>

<button  mat-raised-button type="button" color="accent" style="width:100%">REDUC %</button>

<button  mat-raised-button type="button" color="accent" style="width:100%">LOT_1</button>

<button  mat-raised-button type="button" color="accent" style="width:100%">LOT_2!</button>

<button  mat-raised-button type="button" color="accent" style="width:100%">N+1</button>


<button  mat-raised-button type="button" color="accent" style="width:100%">NEW PRICE</button>

<button  mat-raised-button type="button" color="accent" style="width:100%">REDUC %</button>

</div>-->

<div style="width:100%;height:50%">
<mat-form-field class="w-90-p">
    <input matInput placeholder="ancien prix" [(ngModel)]="outPut.aPrix"#inputicon>
</mat-form-field>

<mat-form-field class="w-90-p">
    <input matInput placeholder="nouveau prix"  [(ngModel)]="outPut.nPrix"  #inputicon>
</mat-form-field>
<div mat-dialog-actions>
        <button  mat-raised-button type="button" color="accent" style="width:100%; float:right" [mat-dialog-close]="outPut">Sauvegarder</button>
        </div>
</div>
