<h2 mat-dialog-title>Choisissez Roles</h2>
<mat-dialog-content class="mat-typography">
<div *ngFor="let role of allRoles">
    <mat-checkbox [checked]="checkExistance(role)" [value]="role"
    (click)="addRole(role)">{{role}}</mat-checkbox>
    <br>
</div>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button  mat-dialog-close (click)="returnRoles()">Add</button>
</mat-dialog-actions>
<!--

                    <mat-select-filter [placeholder]="'Filter'" [displayMember]="'name'"
                [array]="pharmacies" (filteredReturn)="filteredList1 =$event">
            </mat-select-filter>
-->