<div id="products" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- HEADER -->
      <div class="header accent"
           fxLayout="column" fxLayoutAlign="center center"
           fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

          <!-- APP TITLE -->
          <div class="logo my-12 m-sm-0"
               fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="logo-icon mr-16" >
                room_service
              </mat-icon>
              <span class="logo-text h1" >
                  Services
              </span>
          </div>
          <!-- / APP TITLE -->

          <!-- SEARCH -->
          <div class="search-input-wrapper mx-24 m-md-0"
               fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
              <label for="search" class="mr-8">
                  <mat-icon class="secondary-text">search</mat-icon>
              </label>
              <mat-form-field floatLabel="never" fxFlex="1 0 auto">
                  <input id="search" matInput #filter placeholder="Search">
              </mat-form-field>
          </div>
          <!-- / SEARCH -->

          <button mat-raised-button
                [routerLink]="'/app/add-groupement'"
                  class="add-product-button fuse-white my-12 mt-sm-0">
              <span>Ajouter un groupement</span>
          </button>

      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card">

          <mat-table class="products-table"
                     #table [dataSource]="dataSource"
                     matSort
                     fusePerfectScrollbar>

              <!-- ID Column -->
              <ng-container matColumnDef="code">
                  <mat-header-cell *matHeaderCellDef mat-sort-header >Code</mat-header-cell>
                  <mat-cell *matCellDef="let service">
                      <!--<img [src]="service.icon" width="40px" height="40px" style="margin-left: 20px">-->
                      <mat-icon>{{service.icon}}</mat-icon>
                  </mat-cell>
              </ng-container>

              <!-- Image Column -->
         
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
                  <mat-cell *matCellDef="let service">
                      <p class="text-truncate" >{{service.title}}</p>
                  </mat-cell>
              </ng-container>

              <!-- labo Column -->
              <ng-container matColumnDef="owner">
                  <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>propriétaire</mat-header-cell>
                  <mat-cell *matCellDef="let service" fxHide fxShow.gt-md>
                      <p class="category text-truncate" >
                         
                        {{service.subtitle}}
                      </p>
                  </mat-cell>
              </ng-container>

 

<!-- description Column -->
<ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md  >Description</mat-header-cell>
    <mat-cell *matCellDef="let service" fxHide fxShow.gt-md>
        <p class="category text-truncate" >
           
          {{service.description}}
        </p>
    </mat-cell>
</ng-container>

             
              <!-- Active Column -->
              <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>action</mat-header-cell>
                  <mat-cell *matCellDef="let service" fxHide fxShow.gt-xs >
                    <button mat-button color="primary" (click)="editService(service.id)" >Edit</button>
                    <button mat-button color="primary" (click)="editService(service.id)" >Delete</button>
                  </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

              <mat-row *matRowDef="let product; columns: displayedColumns;"
                       class="product"
                       matRipple
                      >
              </mat-row>

          </mat-table>

          <mat-paginator #paginator
                         [length]="dataSource.filteredData.length"
                         [pageIndex]="0"
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>

      </div>
      <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
