<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Add Post</span>
            </div>
            <div class="h1 mt-16">Forms</div>


        </div>
    </div>
    <div class="content p-80">
            <label for="Back"> </label>
            <button type="submit" class="mr-80"  mat-raised-button color="accent" routerLink="/app/list-post" > Back to List </button>
        <br><br>
            <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
            <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" name="form" [formGroup]="form" #formulaire="ngForm" *ngIf="personne">

          <div class="h2 mb-24">Post Form</div>
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

              <mat-form-field fxFlex="50">
                  <input matInput placeholder="First name" formControlName="firstName" required [(ngModel)]="personne.firstname" #firstName>
                  <mat-error>First Name is required!</mat-error>
              </mat-form-field>

              <mat-form-field fxFlex="50">
                  <input matInput placeholder="Last name" formControlName="lastName" [(ngModel)]="personne.name" required #lastName>
                  <mat-error>Last Name is required!</mat-error>
              </mat-form-field>
          </div>

          <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

              <mat-form-field fxFlex="100">
                  <textarea matInput placeholder="cin" formControlName="cin" [(ngModel)]="personne.cin" required #cin>
                    
                  </textarea>
                  <mat-error>cin is required</mat-error>
              </mat-form-field>

              <mat-form-field fxFlex="100">
                <textarea matInput placeholder="job" formControlName="job" [(ngModel)]="personne.job" #job></textarea>
                <mat-error>job  is required!</mat-error>
            </mat-form-field>

            </div>

       

          
          <div >
           <button type="button" mat-raised-button color="accent" (click)="fileInput.click()">Choose File</button>
<input hidden (change)="onFileSelected()" #fileInput type="file" id="file">
              <label for="Submit Post"> </label>
              <button type="submit" class="mr-80" style="float:right" mat-raised-button color="accent" (click)="updateFile(formulaire)"  > Submit Post </button>
          </div>
          




      </form>
        </div>

</div>





</div>