

    <div id="register-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="register-form">

            <div class="logo" fxHide.gt-xs>
                <!--<img src="assets/images/logos/fuse.svg">-->
            </div>

            <div class="title">Informations Professionelles</div>

            <form name="registerForm" [formGroup]="registerForm" novalidate>


<!-- [(ngModel)]="user.isOwner"-->

                <div class="terms" fxLayout="row" fxLayoutAlign="center center" >
                    <mat-radio-group class="mb-12" formControlName="isOwner">
                        <mat-radio-button class="mb-12"  [value]="true" (click)="validateOwner()" >Owner  &nbsp; &nbsp;

                        </mat-radio-button>

                        <mat-radio-button class="mb-12" [value]="false" (click)="validateEmployee()">Employee</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="registerForm.get('isOwner').hasError('required')" > 
                        Profession is required
                    </mat-error>
                </div>



                <mat-form-field *ngIf="validate">
                    <!--[(ngModel)]="user.organizationUnit.id" formControlName="organizationUnit" [value]="organizationUnit.id"-->
                    <mat-select placeholder="Pharmacy"    formControlName="organizationUnit"  required>
                        <mat-option *ngFor="let pharmacie of phamacies" [value]="pharmacie.id"  (click)="showid(pharmacie.id)" >
                          {{pharmacie.name}}
                        </mat-option>

                    </mat-select>
                    <mat-error>Pharmacy is required</mat-error>
                </mat-form-field>



                <br>



                <br>



                <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                       (click)="register()">
                    NEXT STEP
                </button>  <!--[disabled]="registerForm.invalid"-->

            </form>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Already have an account?</span>
                <a class="link" [routerLink]="'/auth/login'">Login</a>
            </div>
        </div>


    </div>

