<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <!--<img src="assets/images/logos/logo_pokmy.png">-->
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Welcome to LINKYPHARM!
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Plateforme de gestion des pharmacies
        </div>

    </div>

    <div id="login-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="login-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/fuse.svg">
            </div>

            <!--
            <div class="title">LOGIN TO YOUR ACCOUNT</div>
            -->
            <!--<button mat-button fxHide fxShow.gt-xs
                    class="language-button"
            >
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="flag mr-8" [src]="'assets/images/flags/'+selectedLanguage.flag+'.png'">
                    <span class="iso text-uppercase">{{selectedLanguage.id}}</span>
                </div>
            </button>-->

            <form name="loginForm" [formGroup]="loginForm" novalidate>

                <mat-form-field>
                    <input matInput placeholder="{{'Login.Username' | translate}}" formControlName="email"
                           [(ngModel)]="credentials.username">
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        {{'Login.Error.Username' | translate}}
                    </mat-error>
                    <mat-error
                        *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
                        {{'Login.Error.Username' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="{{'Login.Password' | translate}}"
                           formControlName="password"
                           [(ngModel)]="credentials.password">
                    <mat-error>
                        {{'Login.Error.Password' | translate}}
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <!--
                    <mat-checkbox class="remember-me" aria-label="Remember Me">
                        {{'Login.Remember' | translate}}
                    </mat-checkbox>
                    -->
                    <a class="forgot-password" [routerLink]="'/auth/forgot-password'">
                        {{'Login.Forget' | translate}}
                    </a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN"
                        [disabled]="loginForm.invalid"
                        (click)="attemptLogin()">
                    {{'Login.Login' | translate}}
                </button>
                <!--

                                {{'Login.Language' | translate}} : <br>

                                <button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang)">
                                    <span fxLayout="row" fxLayoutAlign="start center">
                                        <img class="flag mr-16" [src]="'assets/images/flags/'+lang.flag+'.png'">
                                        <span class="iso">{{lang.title}}</span>
                                    </span>
                                </button>
                                -->
            </form>

            <!--
            <div class="separator">
                <span class="text">OR</span>
            </div>

            <div fxLayout="column" fxLayoutAlign="start center">

                <button mat-raised-button class="google">
                    Log in with Google
                </button>

                <button mat-raised-button class="facebook">
                    Log in with Facebook
                </button>

            </div>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Don't have an account?</span>
                <a class="link" [routerLink]="'/pages/auth/register-2'">Create an account</a>
            </div>
            -->

        </div>
        <div class="register" fxLayout="column" fxLayoutAlign="center center">
            <span class="text">Create new account ?</span>
            <a class="link" [routerLink]="'/auth/register/step1'">Subscription</a>
        </div>
    </div>
</div>