<mat-form-field fxFlex="100">

    <div class="default-time-example">
        <input aria-label="default time" [value]="defaultClosingTime" [ngxTimepicker]="defaultTime"  matInput  placeholder="closingTime" required readonly>
        <ngx-material-timepicker #defaultTime (timeSet)="timePicked($event)"></ngx-material-timepicker>
    </div>
    
</mat-form-field>
