<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

    <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Ajoutez un sous-groupement</span>
            </div>
        
           
        </div>
    </div>
    <div class="content p-24" >
  
        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
            <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" name="form"  #formulaire="ngForm" (ngSubmit)="submit(formulaire)">
    
            <div class="h2 mb-24">Ajoutez un sous-groupement</div>
            <br>
         
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
    
                    <mat-form-field fxFlex="100">
                      <input matInput placeholder="Code" ngModel name="code"  required >
                      <mat-error>Code est obligatoire! </mat-error>
                  </mat-form-field>
                            
                          
    
                <mat-form-field fxFlex="100">
                    <input matInput placeholder="Nom" ngModel name="name"   required >
                    <mat-error> Nom est obligatoire!</mat-error>
                </mat-form-field>
            </div>
    
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
    
                <mat-form-field fxFlex="100">
                    <textarea matInput placeholder="Propriétaire"  ngModel name="owner"  required >
                      
                    </textarea>
                    <mat-error>Propriétaire est obligatoire!</mat-error>
                </mat-form-field>
    

                <mat-form-field fxFlex="100">
                    <textarea matInput placeholder="Propriétaire"  ngModel name="owner"  required >
                      
                    </textarea>
                    <mat-error>Propriétaire est obligatoire!</mat-error>
                </mat-form-field>

                <mat-form-field class="w-100-p">
                    <mat-label>CHOISISSER UNE PHARMACIE</mat-label>
                    <mat-select  required>
                            <mat-select-filter [placeholder]="'Filter'" 
                            [array]="parents" (filteredReturn)="filteredList1 =$event">
                        </mat-select-filter>
                        <mat-option *ngFor="let parent of filteredList1" [value]="parent"
                            (click)="selectParent(parent)">{{parent}}</mat-option>
                    </mat-select>


                   
                </mat-form-field>



                <mat-form-field fxFlex="100">
                    <textarea matInput placeholder="descirption" ngModel name="description"   required >
                      
                    </textarea>
                    <mat-error>descirption est obligatoire!</mat-error>
                </mat-form-field>


 
              
                <div fxLayout="row" fxLayoutAlign="space-between non" >
                        <button type="button" mat-raised-button  mat-raised-button color="accent" (click)="fileInput.click()" >CHOISISSEZ LE LOGO</button>
                   
                        <span style="margin-left:20px ">{{file ? file.name : '' }}</span>
                        <input hidden type="file" #fileInput id="filePicker" (change)="handleFileSelect($event)" required>
                       
                    </div>
                  
             
               
      </div>
  
      <br><br><br>
      <div >
          <label for="Back To list"> </label>
          <button  class="mr-80"  mat-raised-button color="accent"  routerLink="/app/list-groupement" > Retour à la liste </button> 
  
          <label for="Submit Post"> </label>
          <button type="submit" class="mr-80"  mat-raised-button color="accent" [disabled]="formulaire.invalid" style="float:right"> Submit Post </button>
      </div>
  
  </form>
  </div>
  
  
  </div>
  </div>
  