<div id="products" class="page-layout carded fullwidth inner-scroll" *ngIf="((userRolePriority==role2)||(userRolePriority==role3))">
        <img src="assets/images/error/404_error.png" 
        style="width:100%; height:100%;"
        alt="error">
</div>

<div id="products" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- HEADER -->
      <div class="header accent"
           fxLayout="column" fxLayoutAlign="center center"
           fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

          <!-- APP TITLE -->
          <div class="logo my-12 m-sm-0"
               fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="logo-icon mr-16" >
                local_pharmacy
              </mat-icon>
              <span class="logo-text h1" style="margin-right:10px">
                  Pharmacies
              </span>
          </div>
          <!-- / APP TITLE -->

          <!-- SEARCH -->
          <div class="search-input-wrapper mx-24 m-md-0"
               fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
              <label for="search" class="mr-8">
                  <mat-icon class="secondary-text">search</mat-icon>
              </label>
              <mat-form-field  fxFlex="1 0 auto">
                  <input id="search" matInput #filter placeholder="Search">
              </mat-form-field>
          </div>
          <!-- / SEARCH -->

        <button mat-raised-button
                [routerLink]="'app/overview/dashboard'"
                  class="add-product-button fuse-white my-12 mt-sm-0">
              <span>Dashboard</span>
          </button>

      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card">

          <mat-table class="products-table"
                     #table [dataSource]="dataSource"
                     matSort
                     
                     fusePerfectScrollbar>

              <!-- ID Column -->
              <ng-container matColumnDef="Name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="margin-left:20px">Name</mat-header-cell>
                  <mat-cell *matCellDef="let pharma">
                   <p class="text-truncate" style="margin-left:10px">{{pharma.name}}</p>
                  </mat-cell>
              </ng-container>

              <!-- Image Column -->
         
              <!-- Name Column -->
              <ng-container matColumnDef="owner">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>owner</mat-header-cell>
                  <mat-cell *matCellDef="let pharma">
                      <p class="text-truncate" style="margin-left:10px">{{pharma.owner?.firstName}}  {{pharma.owner?.lastName}}</p>
                  </mat-cell>
              </ng-container>

              <!-- labo Column -->
              <ng-container matColumnDef="email">
                  <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>email</mat-header-cell>
                  <mat-cell *matCellDef="let pharma" fxHide fxShow.gt-md>
                      <p class="category text-truncate" style="margin-left:10px">
                         
                        {{pharma.email}}
                      </p>
                  </mat-cell>
              </ng-container>

 <!-- gamme Column -->

              <ng-container matColumnDef="fax">
                <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>fax</mat-header-cell>
                <mat-cell *matCellDef="let pharma" fxHide fxShow.gt-md>
                    <p class="category text-truncate" style="margin-left:10px">
                       
                      {{pharma.fax}}
                    </p>
                </mat-cell>
            </ng-container>

 <!-- gamme Column -->

 <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>phone</mat-header-cell>
    <mat-cell *matCellDef="let pharma" fxHide fxShow.gt-md>
        <p class="category text-truncate" style="margin-left:20px">
           
          {{pharma.phone}}
        </p>
    </mat-cell>
</ng-container>

<!-- unité Column -->
<ng-container matColumnDef="website">
    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>website</mat-header-cell>
    <mat-cell *matCellDef="let pharma" fxHide fxShow.gt-md>
        <p class="category text-truncate" style="margin-left:10px">
           
          {{pharma.website}}
        </p>
    </mat-cell>
</ng-container>

<!-- unité Column -->
<ng-container matColumnDef="city">
    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md  style="margin-right:50px">Ville</mat-header-cell>
    <mat-cell *matCellDef="let pharma" fxHide fxShow.gt-md>
        <p class="category text-truncate" style="margin-left:10px">
           
          {{pharma.address.city}}
        </p>
    </mat-cell>
</ng-container>

              <!-- Price Column -->
              <ng-container matColumnDef="country">
                  <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs style="margin-right:50px">Pays</mat-header-cell>
                  <mat-cell *matCellDef="let pharma" fxHide fxShow.gt-xs>
                      <p class="price text-truncate" style="margin-left:30px">
                         {{pharma.country }}
                         
                      </p>
                  </mat-cell>
              </ng-container>

              <!-- Quantity Column -->
              <!--<ng-container matColumnDef="quantity">
                  <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Quantity</mat-header-cell>
                  <mat-cell *matCellDef="let product" fxHide fxShow.gt-sm >

                      <span class="quantity-indicator text-truncate"
                            [ngClass]="{'red-500':product.quantity <= 5, 'amber-500':product.quantity > 5 && product.quantity <= 25,'green-600':product.quantity > 25}">
                      </span>
                      <span >
                       {{product.quantity}}
                      </span>

                  </mat-cell>
              </ng-container>-->

             

              <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

              <mat-row *matRowDef="let product; columns: displayedColumns;"
                       class="product"
                       matRipple
                      >
              </mat-row>

          </mat-table>

          <mat-paginator #paginator
                         [length]="dataSource.filteredData.length"
                         [pageIndex]="0"
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>

      </div>
      <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
