<div [formGroup]="form">
  <!--<span>Choose file</span>-->
  <!--<span>{{file ? file.name : 'or drag and drop file here' }}</span>-->
  <!--<input class="file-input" type="file">-->
 


  <button type="button" mat-raised-button  mat-raised-button color="accent" (click)="fileInput.click()" >Choose File</button>
  <span >{{file ? file.name : '' }}</span>

  <input hidden  #fileInput #coverFilesInput  #myImage formControlName="myFile"  type="file" id="file" accept="image/*">



</div>


