<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
  <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="column" fxLayoutAlign="center start">
          <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="secondary-text s-18">home</mat-icon>
              <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
              <span class="secondary-text">Ajouter un Produit</span>
          </div>
          <div class="h1 mt-16">Forms</div>
      </div>
  </div>
  <div class="content p-24">
  <mat-card class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start">
      <mat-card-content>
          <h2 class="example-h2">Ajouter un/plusieurs  Produit(s)</h2>
      
          <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="plusieursProduits" (click)="disablePropreProduit()">Ajouter Plusieurs Produits</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="PropreProduit" style="padding-left: 50px" (click)="disableplusieursProduits()">Ajouter Votre Propre Produit</mat-checkbox>     
            
          </section>
          </mat-card-content>
          </mat-card>
        </div>
  <div class="content p-24">
    <div *ngIf="plusieursProduits">
        <button type="button" mat-raised-button  mat-raised-button color="accent"  (click)="download()" >Telecharger le model</button>
    </div>
    <br><br>
      <div *ngIf="plusieursProduits"> 
          <button type="button" mat-raised-button  mat-raised-button color="accent" (click)="fileInput.click()" >Importer le model </button>
          <span style="margin-left:20px ">{{file ? file.name : '' }}</span>
          <input type="file" hidden #fileInput   (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
          <button type="button" mat-raised-button  mat-raised-button color="accent"  (click)="Upload()" >Upload</button> 
        </div>

      <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row" *ngIf="PropreProduit">
          <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
          fxFlex="1 0 auto" name="form" [formGroup]="form" #formulaire="ngForm" (ngSubmit)="submit()">

        <div class="h2 mb-24">Ajoutez un produit</div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field fxFlex="50">
            <input matInput placeholder="Nom du Produit " formControlName="nom"  required >
            <mat-error>Nom du Produit est obligatoire!</mat-error>
        </mat-form-field>
                
        <mat-form-field fxFlex="50">
          <input matInput placeholder="Laboratoire " formControlName="laboratoire"  required >
          <mat-error>Nom du laboratoire est obligatoire!</mat-error>
      </mat-form-field>
       
           
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

            <mat-form-field fxFlex="100">
                <input type="number" matInput placeholder="cipaclean" formControlName="cipaclean"  required >
                  
                
                <mat-error>cipaclean est obligatoire!</mat-error>
            </mat-form-field>

          
            <mat-form-field fxFlex="100">
              <textarea matInput placeholder="description" formControlName="description"  required >
                
              </textarea>
              <mat-error>la description est obligatoire!</mat-error>
          </mat-form-field>
        
           


          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field fxFlex="100">
                        <textarea matInput placeholder="gamme" formControlName="gamme"  required >
                          
                        </textarea>
                        <mat-error>la gamme  est obligatoire!</mat-error>
                    </mat-form-field>
        

                    <mat-form-field fxFlex="100">
                            <input type="number" matInput placeholder="quantité" formControlName="quantity"  required >
                              
                            
                            <mat-error>la quantité est obligatoire</mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="100">
                            <input type="number" matInput placeholder="prix" formControlName="prix"  required >
                              
                            
                            <mat-error>le prix est obligatoire</mat-error>
                        </mat-form-field>

          </div>
     
<div fxLayout="column"  fxFlex="1 0 auto">
       
  
  <mat-form-field>
    <mat-select placeholder="format " formControlName="format" required>
      <mat-option *ngFor="let format of format" [value]="format">
        {{format}}
      </mat-option>
    </mat-select>
  </mat-form-field>
<br>

  
  <mat-form-field>
    <mat-select placeholder="unité"  formControlName="unit" required >
      <mat-option *ngFor="let uniter of uniter" [value]="uniter">
        {{uniter}}
      </mat-option>
    </mat-select>
  </mat-form-field>
                
           
</div>
 
<!--<button type="button" mat-raised-button  mat-raised-button color="accent" (click)="fileInput.click()" >Choose File</button>
  <span style="margin-left:20px ">{{file ? file.name : '' }}</span>
  <input hidden  #fileInput #coverFilesInput  #myImage formControlName="myFile" type="file" id="file">-->

        <div fxLayout="row" fxLayoutAlign="space-between non" >
            <button type="button" mat-raised-button  mat-raised-button color="accent" (click)="fileInput.click()" >Choose File</button>
       
            <span style="margin-left:20px ">{{file ? file.name : '' }}</span>
            <input hidden type="file" #fileInput id="filePicker" formControlName="img" (change)="handleFileSelect($event)" required>
            <label for="Submit Post"> </label>
            <button type="submit" [disabled]="form.invalid" class="mr-80"  mat-raised-button color="accent"   style="float: right"> Submit Produit </button>
        </div>
        




    </form>
      </div>

</div>




</div>

