<h2 mat-dialog-title>Choisissez Roles</h2>

<mat-dialog-content class="mat-typography">
<div >
        <img src="assets/images/error/connection_error.gif"
            style="height: 200px;margin-left: 50px;"

        >
        <br>
    Vérifier Votre Connection ! 
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="false">OK</button>
</mat-dialog-actions>
