<input type="file" #file style="display: none" (change)="onFilesAdded($event)"/>
<div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
    <h1 mat-dialog-title class="border-bottom">{{'UPLOAD'|translate}} {{'IMAGE'|translate}}</h1>
    <div>
        <button [disabled]="uploading || uploadSuccessful" mat-raised-button color="primary" (click)="addFiles()">
            {{(files.size===0?'ADD':'MODIFY')|translate}}
        </button>
    </div>

    <!-- This is the content of the dialog, containing a list of the files to upload -->
    <mat-dialog-content fxFlex>
        <!--
        <mat-list *ngIf="false">
            <mat-list-item *ngFor="let file of files">
                <h4 mat-line>{{file.name}}</h4>
                <mat-progress-bar *ngIf="progress" mode="determinate"
                                  [value]="progress[file.name].progress | async"></mat-progress-bar>
            </mat-list-item>
        </mat-list>
        -->
        <div fxLayout="row wrap">
            <div fxFlex="50">
                <div class="mat-card mat-elevation-z2 card-cropper">
                    <div class="card-cropper-content">
                        <div class="cropper-img">
                            <image-cropper
                                [imageChangedEvent]="imageChangedEvent"
                                [maintainAspectRatio]="true"
                                [aspectRatio]="1 / 1"
                                [resizeToWidth]="128"
                                [roundCropper]="false"
                                format="jpeg"
                                (imageCroppedBase64)="imageCroppedBase64($event)"
                                (imageLoaded)="imageLoaded()"
                                (loadImageFailed)="loadImageFailed()"
                                style="max-height: 33vh"
                                [style.display]="cropperReady ? null : 'none'"
                            ></image-cropper>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex="50">
                <div class="mat-card mat-elevation-z2 card-cropper-output">
                    <div class="card-cropper-content">
                        <div class="cropper-img">
                            <img [src]="croppedImage"/>
                            <mat-progress-bar *ngIf="progress" mode="determinate"
                                              [value]="progress[files.values().next().value.name].progress | async"></mat-progress-bar>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </mat-dialog-content>

    <!-- This are the actions of the dialog, containing the primary and the cancel button-->
    <mat-dialog-actions class="actions border-top">
        <button *ngIf="showCancelButton" mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" [disabled]="!canBeClosed" (click)="closeDialog()">
            {{primaryButtonText}}
        </button>
    </mat-dialog-actions>
</div>