
:host {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.actions {
    justify-content: flex-end;
}

.container {
    height: 100%;
}

.card-cropper {
    padding: 8px;
    float: right;
    height: 200px;
    width: 200px;
    margin-right: 16px;
}

.card-cropper-output {
    float: left;
    padding: 8px;
    height: 100px;
    width: 100px;
}

.card-cropper-content {
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
}

.cropper-img {
    display: inline-block;
}