<div class="page-layout simple fullwidth angular-material-elements">
<!--header-->
    <div class="header accent p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">

    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
        <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="secondary-text s-18">home</mat-icon>
          
            <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
            <span class="secondary-text">List Services </span>
        </div>
        <div class="h2 mt-16">List Services</div>
    </div>

    </div>
  

  <div class="content p-48">

        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
          
          <div class="mat-elevation-z8"  >
    
            <table mat-table [dataSource]="Services" matSort id="table1"  >
          
              <!-- ID Column -->
              <ng-container matColumnDef="Icon" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header > Icon </th>
                <td mat-cell *matCellDef="let row"> <mat-icon>{{row.icon}}</mat-icon> </td>
              </ng-container>
          
              <!-- Progress Column -->
              <ng-container matColumnDef="Titre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Titre </th>
                <td mat-cell *matCellDef="let row">{{row.title}}</td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="Sous-titre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sous-titre</th>
                <td mat-cell *matCellDef="let row"> {{row.subtitle}} </td>
              </ng-container>

              
                <ng-container matColumnDef="action" >
                    <th mat-header-cell *matHeaderCellDef style="padding-left: 80px">
                      actions
                    </th>
                    <td mat-cell *matCellDef="let row" class="mat-column-right" >
                        <button mat-button color="primary" (click)="update(row.id)">Modifier</button>
                        </td>
                    </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
              <tr mat-row  *matRowDef="let row; columns: displayedColumns;">
              </tr>
</table>
</div>
</div>
    </div>
