<mat-toolbar class="p-0 mat-elevation-z1">

    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="navbar-toggle-button"
                    *ngIf="!hiddenNavbar && !rightNavbar" (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>

            <div class="toolbar-separator" *ngIf="!hiddenNavbar && !rightNavbar" fxHide.gt-md></div>

            <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNavbar">
                <div class="logo ml-16">
                    <!--<img class="logo-icon" src="assets/images/logos/logo_pokmy.png">-->
                </div>
            </div>

            <div class="px-8 px-md-16">
                <fuse-shortcuts [navigation]="navigation"></fuse-shortcuts>
            </div>

        </div>

        <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">

            <fuse-search-bar (input)="search($event)"></fuse-search-bar>

            <div class="toolbar-separator"></div>

            <button mat-button [matMenuTriggerFor]="RolesMenu"
            class="user-button">
                <div fxLayout="row" fxLayoutAlign="center center">
                <!-- <img class="avatar mr-0 mr-sm-16"
                        src="{{userService.getUserProfilePictureUrl()}}">-->
                <span class="username mr-12" fxHide fxShow.gt-sm>User Roles</span>
                <!-- <span class="username mr-12" fxHide fxShow.gt-sm>Your name here </span>--> 
                    <mat-icon class="s-16" fxHide.xs>account_circle</mat-icon>
                </div>
            </button>

            <mat-menu #RolesMenu="matMenu" [overlapTrigger]="false">

                    <div *ngFor="let role of roles">
                        <button mat-menu-item class="" (click)="changeAccountActivity(role.label)">
                            <mat-icon *ngIf = "role.label == this.storageService.read('currentRole')">account_circle</mat-icon>
                            <mat-icon *ngIf = "role.label != this.storageService.read('currentRole')"></mat-icon>
                            <span style="text-transform: uppercase; direction: rtl;">{{role.label}}</span>

                        </button>
                    </div>
                </mat-menu>

          <!--  <button mat-button fxHide fxShow.gt-xs
                    class="language-button"
                    [matMenuTriggerFor]="languageMenu">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="flag mr-8" [src]="'assets/images/flags/'+selectedLanguage.flag+'.png'">
                    <span class="iso text-uppercase">{{selectedLanguage.id}}</span>
                </div>
            </button>

            <mat-menu #languageMenu="matMenu" [overlapTrigger]="false">

                <button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang)">
                    <span fxLayout="row" fxLayoutAlign="start center">
                        <img class="flag mr-16" [src]="'assets/images/flags/'+lang.flag+'.png'">
                        <span class="iso">{{lang.title}}</span>
                    </span>
                </button>

            </mat-menu>-->


            <div class="toolbar-separator" fxHide fxShow.gt-xs></div>

            <button mat-button [matMenuTriggerFor]="userMenu"
                    class="user-button">
                <div fxLayout="row" fxLayoutAlign="center center">
                   <!-- <img class="avatar mr-0 mr-sm-16"
                         src="{{userService.getUserProfilePictureUrl()}}">-->
                         <img class="avatar mr-0 mr-sm-16"
                         src="assets/images/logos/fallout.png">
                 <span class="username mr-12" fxHide fxShow.gt-sm>{{name}}</span>
                 <!-- <span class="username mr-12" fxHide fxShow.gt-sm>Your name here </span>--> 
                    <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
                </div>
            </button>

            <mat-menu #userMenu="matMenu" [overlapTrigger]="false">

                <a mat-menu-item [routerLink]="'/app/profile'">
                    <mat-icon>account_circle</mat-icon>
                    <span>{{'PROFILE'|translate}}</span>
                </a>

                <button mat-menu-item class="" (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>{{'LOGOUT'|translate}}</span>
                </button>

            </mat-menu>

            <!--
            <button mat-icon-button
                    class="quick-panel-toggle-button"
                    (click)="toggleSidebarOpen('quickPanel')"
                    aria-label="Toggle quick panel">
                <mat-icon class="secondary-text">format_list_bulleted</mat-icon>
            </button>


            <div class="toolbar-separator" *ngIf="!hiddenNavbar && rightNavbar" fxHide fxShow.gt-xs></div>
            -->
            <div class="toolbar-separator"></div>



            <button mat-icon-button class="navbar-toggle-button"
                    *ngIf="!hiddenNavbar && rightNavbar" (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>

        </div>

    </div>

</mat-toolbar>
