<!----<script src="... /angular-countries/dist/js/ngCountries.js"></script>-->



<ng-container>
    <div id="main">
        <!-- CONTENT -->
      
       
        <router-outlet></router-outlet>
    </div>
</ng-container>
