

    <div id="register-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="register-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">ADDRESS</div>

            <form name="registerForm" [formGroup]="registerForm" novalidate>

                <mat-form-field>
                    <mat-select placeholder="Country" formControlName="country" [(ngModel)]="address.country" required>
                        <mat-option *ngFor="let country of countries" [value]="country.code">
                            {{country.name}}
                        </mat-option>

                    </mat-select>
                    <mat-error>Country is required</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="City" formControlName="city" [(ngModel)]="address.city">
                    <mat-error>
                        City is required
                    </mat-error>
                </mat-form-field>
                <br>

                <mat-form-field>
                    <input matInput placeholder="Street" formControlName="street" [(ngModel)]="address.street">
                    <mat-error>
                        Street is required
                    </mat-error>

                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Zip Code" formControlName="zip" [(ngModel)]="address.zip">
                    <mat-error>
                        ZipCode is required
                    </mat-error>

                </mat-form-field>
                <br>
                <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                        [disabled]="registerForm.invalid" (click)="register()">
                    NEXT STEP
                </button>

            </form>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Already have an account?</span>
                <a class="link" [routerLink]="'/auth/login'">Login</a>
            </div>
        </div>


    </div>

