<div class="page-layout simple fullwidth angular-material-elements">

  <!-- HEADER -->
  <div class="header accent p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
  fxLayoutAlign.gt-xs="space-between center">
  
  <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
     <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
         <mat-icon class="secondary-text s-18">home</mat-icon>
         <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
         
         <span class="secondary-text">Historique Des affiches</span>
     </div>
     <div class="h2 mt-16">Historique Des affiches</div>
  </div>
  
  
  </div>
  <!--/Header-->


<!--content-->
<div class="content p-48">
  <button type="button" mat-raised-button color="accent" routerLink="/app/overview/dashboard">Back</button>

  <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    
    <div class="mat-elevation-z8"  >

      <table mat-table [dataSource]="hisotrique" matSort id="table1"  >
    
        <!-- ID Column -->
        <ng-container matColumnDef="Template" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Template </th>
          <td mat-cell *matCellDef="let row"> {{row.templateId}} </td>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
          <td mat-cell *matCellDef="let row">{{row.templateId < 20 ? 'Image': 'Sans Image'}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="Nom Promotion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom Promotion</th>
          <td mat-cell *matCellDef="let row">{{row.value[1].value}}  </td>
        </ng-container>
    
        <!-- Color Column -->
    
        <ng-container matColumnDef="Nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.value[2].value}} </td>
          </ng-container>
<!-- rue Column -->
          <ng-container matColumnDef="Description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
              <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.value[3].value}} </td>
            </ng-container>
   
   <!-- cp Column -->
   <ng-container matColumnDef="Produit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Produit </th>
    <td mat-cell *matCellDef="let row" [style.color]="row.color"> </td>
  </ng-container>

  <ng-container matColumnDef="Image">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
    <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.value[11].value}} </td>
  </ng-container>
   

  



  <!-- Action Column -->
  <!--class="mat-column-right"-->
            <ng-container matColumnDef="action" >
        <th mat-header-cell *matHeaderCellDef style="padding-left: 80px">
          actions
        </th>
        <td mat-cell *matCellDef="let row" class="mat-column-right" >
            <button mat-button color="primary" (click)="visualiserAfficher(row.id)">Visusaliser</button>
      
        </td>
      </ng-container>
      <!--/ Action Colum-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
        <tr mat-row  *matRowDef="let row; columns: displayedColumns;">
        </tr>
      
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

</div>

<!--/content-->









  </div>
