

    <div id="register-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="register-form">

            <div class="title">CREATE AN ACCOUNT</div>

            <form name="registerForm" [formGroup]="registerForm" novalidate>

                <mat-form-field>
                    <input matInput placeholder="First name" formControlName="firstName" [(ngModel)]="user.firstName">
                    <mat-error>
                        First name is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Last name" formControlName="lastName" [(ngModel)]="user.lastName">
                    <mat-error>
                        Last name is required
                    </mat-error>
                </mat-form-field>


                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email"  [(ngModel)]="user.email">
                    <mat-error *ngIf="registerForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Password" formControlName="password" [(ngModel)]="user.password">
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Password (Confirm)" formControlName="passwordConfirm">
                    <mat-error *ngIf="registerForm.get('passwordConfirm').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="!registerForm.get('passwordConfirm').hasError('required') &&
                                       registerForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <div class="terms" fxLayout="row" fxLayoutAlign="center center" >
                    <mat-radio-group class="mb-12" [(ngModel)]="user.gender" formControlName="gender">
                        <mat-radio-button class="mb-12"  value="male" >Mr  &nbsp; &nbsp;

                        </mat-radio-button>

                        <mat-radio-button class="mb-12"  value="female">Mme</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="registerForm.get('gender').hasError('required')">
                        Gender is required
                    </mat-error>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                        [disabled]="registerForm.invalid" (click)="register()" >
                    Next Step
                </button>

            </form>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Already have an account?</span>
                <a class="link" [routerLink]="'/auth/login'">Login</a>
            </div>
        </div>


    </div>
