/*example-viewer {
    display: block;
    padding: 24px 0;

    .example-viewer-wrapper {
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
        margin: 4px;
        padding: 0;

        h3 {
            margin-top: 10px;
        }
    }

    .example-viewer-header {
        align-content: center;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 8px 20px;
        flex: 1 1 auto;
        border-bottom: 1px solid;

        .example-viewer-title {
            flex: 1 1 auto;
        }
    }
}
.example-margin {
	margin: 0 10px;
}
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
.mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
  }*/