<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
  <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="column" fxLayoutAlign="center start">
          <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="secondary-text s-18">home</mat-icon>
              <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
              <span class="secondary-text">ajouter une/plusieurs Pharmacie(s)</span>
          </div>
          <div class="h1 mt-16">Forms</div>
         
      </div>
  </div>
  <div class="content p-24">
  <mat-card class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start">
      <mat-card-content>
          <h2 class="example-h2">Ajouter une/plusieurs  pharmacie(s)</h2>
      
          <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="plusieursPharma" (click)="disableProprePharma()">Ajouter Plusieurs Pharmacies</mat-checkbox>
            <mat-checkbox class="example-margin" style="padding-left: 50px" [(ngModel)]="ProprePharma" (click)="disableplusieursPharma()">Ajouter votre Propre Pharmacie</mat-checkbox>     
            
          </section>
          </mat-card-content>
  </mat-card>

</div>
  
  <div class="content p-24" >
<div *ngIf="plusieursPharma">

    <button type="button" mat-raised-button  mat-raised-button color="accent" (click)="download()" >Telecharger Le model</button> 
</div>
<br><br>
    <div *ngIf="plusieursPharma"> 
      <button type="button" mat-raised-button  mat-raised-button color="accent"  (click)="fileInput.click()" >Importer le model</button>
      <span style="margin-left:20px ">{{file ? file.name : '' }}</span>
      <input type="file" hidden #fileInput   (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
      <button type="button" mat-raised-button  mat-raised-button color="accent"   (click)="Upload()" >Upload</button> 
    </div>
      
    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row" *ngIf="ProprePharma">
        <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
        fxFlex="1 0 auto" name="form" [formGroup]="form" #formulaire="ngForm" (ngSubmit)="submit()">

        <div class="h2 mb-24">Ajoutez votre pharmacie</div>
        <br>
        <div class="h2 mb-24">Info</div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="50">
                  <input matInput placeholder="email" formControlName="email"  required >
                  <mat-error>email est obligatoire! </mat-error>
              </mat-form-field><h1> | </h1>
                        
                      

            <mat-form-field fxFlex="50">
                <input matInput placeholder="fax" formControlName="fax" type="number"  required >
                <mat-error> fax est obligatoire!</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

            <mat-form-field fxFlex="100">
                <textarea matInput placeholder="nom" formControlName="name"  required >
                  
                </textarea>
                <mat-error>nom est obligatoire!</mat-error>
            </mat-form-field>

            <mat-form-field  fxFlex="100">
                <mat-select placeholder="organs"  formControlName="organs" >
                  <mat-option *ngFor="let organ of organs" [value]="organ.name">
                    {{organ.name}}   {{ogran?.logo}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            <mat-form-field fxFlex="100">
              <input matInput placeholder="phone" type="number" formControlName="phone" required >
              <mat-error>phone est obligatoire!</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="website" formControlName="website" required ></textarea>
            <mat-error>website est obligatoire!</mat-error>
        </mat-form-field>
        </div>
<br>
<div class="h2 mb-24">Address</div>
          
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field fxFlex="100">
                        <textarea matInput placeholder="city" formControlName="city" [(ngModel)]="address.city" required >
                          
                        </textarea>
                        <mat-error>city est obligatoire!</mat-error>
                    </mat-form-field>
        

                    <mat-form-field fxFlex="100">
                            <textarea matInput placeholder="pays" formControlName="country"  [(ngModel)]="address.country" required>
                              
                            </textarea>
                            <mat-error>pays est obligatoire!</mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="100">
                          <textarea matInput placeholder="rue" formControlName="street"  [(ngModel)]="address.street" required>
                            
                          </textarea>
                          <mat-error>rue est obligatoire!</mat-error>
                      </mat-form-field>

                      <mat-form-field fxFlex="100">
                        <input matInput placeholder="zip" formControlName="zip" type="number" [(ngModel)]="address.zip" required>
                          
                        
                        <mat-error>zip est obligatoire!</mat-error>
                    </mat-form-field>
            
          </div>
<br>
<div class="h2 mb-24">Opening Details</div>
<div formArrayName="openingDetails">
    <div *ngFor="let item of sellingPoints.controls; let pointIndex=index"
        [formGroupName]="pointIndex">
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

            <mat-form-field fxFlex="100">
              <!--<input matInput placeholder="openingTime" formControlName="openingTime"  required >-->
              <div class="default-time-example">
                <input aria-label="default time" formControlName="openingTime" [ngxTimepicker]="defaultValue" matInput  placeholder="openingTime" required readonly>
                <ngx-material-timepicker #defaultValue></ngx-material-timepicker>
                
           </div>
                
           <mat-error>openingTime est obligatoire!</mat-error>
              
          </mat-form-field>
          
          <mat-form-field fxFlex="100">
            <!--<input matInput placeholder="closingTime"  formControlName="closingTime"  required >-->
            <div class="default-time-example">
                <input matInput aria-label="default time" formControlName="closingTime" [ngxTimepicker]="fullTime" placeholder="closingTime" required readonly>
                <ngx-material-timepicker #fullTime></ngx-material-timepicker>
           </div>  
            
            <mat-error>closingTime est obligatoire!</mat-error>
          </mat-form-field>
          
          <mat-form-field fxFlex="100">
            <input matInput placeholder="data" formControlName="data"  required >
              
           
            <mat-error>data est obligatoire!</mat-error>
          </mat-form-field>
          
          <mat-form-field fxFlex="100">
            <mat-select placeholder="day" formControlName="day"  >
              <mat-option *ngFor="let day of options" [value]="day" (click)="workDay(day)">
                {{day}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          
          <button  mat-raised-button type="button"  color="accent" (click)="deleteSellingPoint(pointIndex)">Effacer</button>
        <br><br>  
        </div>    
      
    </div>
    <button mat-raised-button color="accent" type="button"
        (click)="addSellingPoint()">Ajouter  </button>
</div>
<!--<div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

  <mat-form-field fxFlex="100">
    <input matInput placeholder="openingTime" formControlName="openingTime" [(ngModel)]="openingDetails[0].openingTime" required >
      
 
    <mat-error>openingTime est obligatoire!</mat-error>
</mat-form-field>

<mat-form-field fxFlex="100">
  <input matInput placeholder="closingTime" formControlName="closingTime" [(ngModel)]="openingDetails[0].closingTime" required >
    
  
  <mat-error>closingTime est obligatoire!</mat-error>
</mat-form-field>

<mat-form-field fxFlex="100">
  <input matInput placeholder="data" formControlName="data" [(ngModel)]="openingDetails[0].data" required >
    
 
  <mat-error>data est obligatoire!</mat-error>
</mat-form-field>

<mat-form-field fxFlex="100">
  <mat-select placeholder="day"  formControlName="Day" >
    <mat-option *ngFor="let day of options" [value]="day" (click)="workDay(day)">
      {{day}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>   --> 
<br>

<span><h2>Additional Info</h2></span>


 <mat-icon (click)="afficheLabel()" style="float:right">add</mat-icon>
<br>
<div formArrayName="additionalInfo">
    <div *ngFor="let item of Info.controls; let pointIndex=index"
        [formGroupName]="pointIndex">
<div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">


<mat-form-field fxFlex="100" >
  <input matInput placeholder="label " formControlName="label" required >
    

  <mat-error>label est obligatoire!</mat-error> 
  
</mat-form-field>
<br><br>

<mat-form-field fxFlex="100" > 
  <input matInput placeholder="value" formControlName="value"  required >
    
  
  <mat-error>value est obligatoire!</mat-error>
</mat-form-field>



<button  mat-raised-button type="button"  color="accent" (click)="deleteInfo(pointIndex)">Effacer</button>




</div>

</div>

<button mat-raised-button color="accent" type="button"
        (click)="addInfo()">Ajouter  </button>
</div>
         

        
        <div >
         
            <label for="Submit Post"> </label>
            <button type="submit" class="mr-80"  mat-raised-button color="accent" [disabled]="this.form.invalid" style="float:right"> Submit Post </button>
        </div>
        
        <!--[disabled]="form.invalid"-->



    </form>
      </div>

</div>
</div>






