<div id="products" class="page-layout carded fullwidth inner-scroll" *ngIf="((userRolePriority==role3)||(userRolePriority==role2))">
        <img src="assets/images/error/404_error.png" 
        style="width:100%; height:100%;"
        alt="error">
</div>
<!--  *ngIf="((userRolePriority==role3)||(userRolePriority==role2)||(userRolePriority==role1))" -->
<div class=" page-layout carded fullwidth ">

    <div class="top-bg accent"></div>
    <div class="center">
        <!--HEADER-->
            <div class="header accent"
            fxLayout="column" fxLayoutAlign="start center"
            fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
 
           <!-- APP TITLE -->
           <div class="logo my-12 m-sm-0"
                fxLayout="row" fxLayoutAlign="start center">
               <!--<mat-icon class="logo-icon mr-16" >
                 user
               </mat-icon>-->

               <span class="logo-text h1" >
                   Utilisateurs
               </span>
               <i class="material-icons">
                    group
                </i>
           </div>
           <!-- / APP TITLE -->
       </div>

       <div class="accent">
            <!-- SEARCH -->
            <div class="search-input-wrapper mx-12 m-md-0"
            fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatLabel="never" fxFlex="1 0 auto">
                    <input id="search" matInput name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->
       </div>

        <table mat-table [dataSource]="users | filter : searchText">
        <!-- Position Column -->
        <ng-container matColumnDef="FirstName">
            <th mat-header-cell *matHeaderCellDef> FirstName </th>
            <td mat-cell *matCellDef="let element"> {{element.person.firstName}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="LastName">
            <th mat-header-cell *matHeaderCellDef> LastName </th>
            <td mat-cell *matCellDef="let element"> {{element.person.lastName}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.person.email}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="Roles">
            <th mat-header-cell *matHeaderCellDef> Role </th>
            <td mat-cell *matCellDef="let element" > 
                <div>
                    <div *ngFor="let role of element.roles ; let i=index" style="float: left;">
                        <span class="role" [ngClass]="{
                            'pharmacist' : role.label == 'pharmacist',
                            'admin' : role.label == 'admin',
                            'employee' : role.label == 'employee',
                            'groupement' : role.label == 'groupement'
                                
                        }">{{role.label}}</span>
                        <span></span>
                        <span *ngIf="i != element.roles.length-1"> | </span>
                        <span></span>
                        <span></span>
                    </div>
            

                </div>
            </td>
        </ng-container>

        <!--Add Role
        *ngIf="!element.roles || element.roles.length !== 3"
        -->
        <ng-container matColumnDef="Add">
            <th mat-header-cell *matHeaderCellDef> Add Role </th>
            <td mat-cell *matCellDef="let element"> 
                <div >
                    <button mat-raised-button (click)="openDialog(element.id,element.roles)">+</button>
                </div>  
            </td>
        </ng-container>
        <!--/Add Role-->
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>













