<div id="product" class="page-layout carded fullwidth">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->


    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/app/overview/dashboard'">
                    <mat-icon>arrow_back</mat-icon>
                </button>



                <div fxLayout="column" fxLayoutAlign="start start">
                    <div class="h2">
                        Leaflet
                    </div>

                    <div class="subtitle secondary-text">
                        <span>Configurer votre leaflet</span>
                    </div>
                </div>
            </div>

           <!-- <button mat-raised-button class="save-product-button" (click)="saveProduct()">
                <span>SAVE</span>
            </button>-->
        </div>
        <!-- /HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <div>


                <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex
                    (ngSubmit)="onSubmit()">
                    <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedTabChange)="tabChanged($event)">

                        <mat-tab label="CREATION DU MODELE DE FLYER" class="w-100-p">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <!--<mat-form-field class="w-100-p">
                                    <input matInput [matDatepicker]="picker" formControlName="date"
                                        placeholder="Choose a date" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>-->
                               <mat-form-field class="w-100-p" >
<input matInput formControlName="nameConfig" placeholder="NOM DE LA CONFIGURATION" required #Name (change)="configChange(Name)">

                               </mat-form-field> 
                               
         


        <!--  <label>
                  Selling Point: <input formControlName="point" />
                </label>
                <button  mat-raised-button type="button" color="blue" (click)="openDialog(pointIndex)">Promotion</button>


                <button  mat-raised-button type="button" style="float:right" color="accent" (click)="deleteSellingPoint(pointIndex)">Delete Selling Point</button>
                </div>
                <br>
                <button mat-raised-button color="accent" type="button" (click)="addSellingPoint()">Add Selling Point</button>
            -->

    


                          


                                <div formArrayName="events">
                                        <div *ngFor="let item of event.controls; let pointIndex=index"
                                            [formGroupName]="pointIndex">
                                            <mat-form-field class="w-85-p">
                                                <input placeholder="SAISIR UN EVENEMENT" matInput>
                                            </mat-form-field><mat-icon
                                            (click)="deleteEvent()">cancel </mat-icon>
                                            
                                        
                                        
                                    </div>
                                <br>
                                
                                        <button mat-raised-button color="accent" type="button"
                                            (click)="addEvent()">Ajouter un evenement </button>
                                        </div>
                                        
                               
<br><br>
                  
                               <!-- <mat-form-field class="w-100-p">
                                    <mat-label>CHOISISSER UNE PHARMACIE</mat-label>
                                    <mat-select  formControlName="pharmacie"  required>
                                            <mat-select-filter [placeholder]="'Filter'" [displayMember]="'name'"
                                            [array]="pharmacies" (filteredReturn)="filteredList1 =$event">
                                        </mat-select-filter>
                                        <mat-option *ngFor="let pharmacie of filteredList1" [value]="pharmacie.name"
                                            (click)="selectPharmacie(pharmacie)">{{pharmacie.name}}</mat-option>
                                    </mat-select>


                                   
                                </mat-form-field>-->

                               
                                <br><br>
                                <div class="w-100-p">
                                
                                    <mat-form-field class="w-100-p">
                                    <mat-label>CHOISISSER LE NOMBRE DE PAGES</mat-label>
                                    <mat-select required formControlName="nbrPages" >
                                    <mat-option *ngFor="let categorie of categories; let i=index" [value]="categorie"
                                        (click)="chooseCategories(categorie)"  > <!--[disabled]="count>choosenCategorie-1"-->
                                        {{categorie}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                                </div><br><br>

                                <div class="w-100-p" *ngIf="choosenCategorie>1">
                                <div *ngFor="let field of tableau; let fieldIndex=index">
                                    
                                    <mat-form-field class="w-100-p">
                                        <mat-label>CHOISISSER LE CONTENUE DE LA PAGE {{fieldIndex+1}}</mat-label>
                                        <mat-select formControlName="pageContent" required>
                                            <mat-option *ngFor="let page of pages; let i=index" [value]="page"
                                                (click)="selectPages(page.name,fieldIndex,page.id)"  > <!--[disabled]="count>choosenCategorie-1"-->
                                                {{page.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <br>
                                 
                                </div>
                                <ol>
                                        <div *ngFor="let ordre of selectedPage">
                                            <li>
                                                {{ordre}}
                                            </li>
                                        </div>
                                    </ol>
                                </div>

                            </div>

                            <div>




                                <!-- <button mat-raised-button type="button" style=" margin-left:50px; line-height: 30px; box-sizing: border-box;"  color="accent" >
                            retour à la list
                        </button>-->
                                <!--<button mat-raised-button type="submit" [disabled]="productForm.invalid"
                                    style=" margin-left:50px; line-height: 30px; box-sizing: border-box;"
                                    color="accent">
                                    Genérer
                                </button>-->
                               <button mat-raised-button type="button"
                               
                                    style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box; margin-bottom: 100px"
                                    color="accent" (click)="Generate()" [disabled]="productForm.invalid">
                                    Save
                                </button>



                            </div>
                        </mat-tab>




                        <!--Tab2-->
                        <div *ngFor="let item of tab ; let i=index">
                            <mat-tab label={{item}}>
                                <div class="tab-content p-24" fusePerfectScrollbar>

                                    <!--Selection A la UNE-->
                                    <div *ngIf="item=='SELECTION A LA UNE'">
                                        <mat-form-field class="w-100-p">
                                            <input type="text" placeholder="Selection du mois" aria-label="Number"
                                                matInput formControlName="titre">
                                        </mat-form-field>

                                        <!--   <mat-select placeholder="List de produits">
                                                <mat-select-filter [placeholder]="'Filter'" [displayMember]="'nom'"
                                                    [array]="product" (filteredReturn)="filteredList5 =$event">
                                                </mat-select-filter>
                                                <mat-option *ngFor="let item of filteredList5" [value]="item.nom"
                                                    (click)="testOption(item.nom)">
                                                    <h3>{{item.nom}}</h3>
                                                </mat-option>
                                            </mat-select>-->
                                        <div formArrayName="selling_points">
                                            <div *ngFor="let item of sellingPoints.controls; let pointIndex=index"
                                                [formGroupName]="pointIndex">
                                                <mat-form-field class="w-85-p">
                                                    <mat-select placeholder="List de produits">
                                                        <mat-select-filter [placeholder]="'Filter'"
                                                            [displayMember]="'nom'" [array]="product"
                                                            (filteredReturn)="filteredList5 =$event">
                                                        </mat-select-filter>
                                                        <mat-option *ngFor="let item of filteredList5"
                                                            [value]="item.nom" (click)="testOption(item.nom)">
                                                           <img src={{item.img}} width="30px" height="30px">  {{item.nom}}
                                                        </mat-option>

                                                    </mat-select>
                                                </mat-form-field>
                                                <button mat-raised-button type="button" (click)="openDialog()"
                                                    style="float:right; margin-right:50px; line-height: 50px; box-sizing: border-box;">Promotion</button>
                                            </div>
                                            <button mat-raised-button color="accent" type="button"
                                                (click)="addSellingPoint()">Ajouter un produit </button>
                                            <!--  <label>
                                                      Selling Point: <input formControlName="point" />
                                                    </label>
                                                    <button  mat-raised-button type="button" color="blue" (click)="openDialog(pointIndex)">Promotion</button>
                                
                                
                                                    <button  mat-raised-button type="button" style="float:right" color="accent" (click)="deleteSellingPoint(pointIndex)">Delete Selling Point</button>
                                                    </div>
                                                    <br>
                                                    <button mat-raised-button color="accent" type="button" (click)="addSellingPoint()">Add Selling Point</button>
                                                -->

                                        </div>




                                        <br><br><br>
                                        <div>




                                            <button mat-raised-button type="button"
                                                style=" margin-left:50px; line-height: 30px; box-sizing: border-box;"
                                                (click)="previousStep()" color="accent">
                                                Retour
                                            </button>

                                            <button mat-raised-button type="button"
                                                style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                                color="accent" (click)="nextStep()">
                                                Suivant
                                            </button>

                                        </div>


                                    </div>
                                    <!--/Selection A la UNE-->

                                    <!--PUBLLICITE-->
                                    <div *ngIf="item=='PUBLICITE1'||item=='PUBLICITE2'||item=='PUBLICITE3'||item=='PUBLICITE4'">
                                        <mat-form-field class="w-100-p">
                                            <input type="text" placeholder="Selection du mois" aria-label="Number"
                                                matInput formControlName="titre">


                                        </mat-form-field>

                                        <button *ngIf="i==tab.length-1" mat-raised-button type="submit"
                                            style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                            color="accent">
                                            Sauvegarder
                                        </button>
                                        <div>
                                            <button mat-raised-button type="button"
                                                style=" margin-left:50px; line-height: 30px; box-sizing: border-box;"
                                                (click)="previousStep()" color="accent">
                                                Retour
                                            </button>

                                            <button *ngIf="i!=tab.length-1" mat-raised-button type="button"
                                                style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                                color="accent" (click)="nextStep()">
                                                Suivant
                                            </button>
                                        </div>
                                    </div>
                                    <!--/PUBLLICITE-->
                                   
                                   
                                    <!--NOUVEAUTES-->

                                    <div *ngIf="item=='NOUVEAUTES'">

                                        <h1>NOUVEAUTES</h1>

                                        <mat-form-field class="w-100-p">
                                            <input type="text" placeholder="Selection du mois" aria-label="Number"
                                                matInput formControlName="titre">

                                        </mat-form-field>

                                        <div>




                                            <button mat-raised-button type="button"
                                                style=" margin-left:50px; line-height: 30px; box-sizing: border-box;"
                                                (click)="previousStep()" color="accent">
                                                Retour
                                            </button>

                                            <button mat-raised-button type="button"
                                                style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                                color="accent" (click)="nextStep()">
                                                Suivant
                                            </button>

                                        </div>

                                    </div>


                                    <!--/NOUVEAUTES-->

                                    <!--CONSEIL-->

                                    <div *ngIf="item=='CONSEIL'">
                                        <h1>CONSEIL</h1>
                                        <mat-form-field class="w-100-p">
                                            <input type="text" placeholder="title" aria-label="Number" matInput
                                                formControlName="tilte1">

                                        </mat-form-field>

                                        <mat-form-field class="w-100-p">
                                            <input type="text" placeholder="subtitle" aria-label="Number" matInput
                                                formControlName="subtitle1">

                                        </mat-form-field>

                                        <mat-form-field class="w-100-p">
                                            <textarea type="text" placeholder="text" aria-label="Number" matInput
                                                formControlName="text">
                                    </textarea>
                                        </mat-form-field>

                                        <div>




                                            <button mat-raised-button type="button"
                                                style=" margin-left:50px; line-height: 30px; box-sizing: border-box;"
                                                (click)="previousStep()" color="accent">
                                                Retour
                                            </button>

                                            <button mat-raised-button type="submit"
                                                style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                                color="accent">
                                                SUBMIT
                                            </button>

                                        </div>

                                        <!--/CONSEIL-->

                                    </div>
                                    <!--/CONSEIL-->

                                    <!--SERVICE-->
                                    <div *ngIf="item=='SERVICE'">

                                        <div class="h2 mb-24">
                                            <h1>AJOUTER UN SERVICE </h1>
                                        </div>
                                        <br>







                                        <mat-form-field class="w-100-p">
                                            <input matInput placeholder="Icon" formControlName="icon" required>
                                            <mat-error> icon est obligatoire!</mat-error>
                                        </mat-form-field>




                                        <mat-form-field class="w-100-p">
                                            <textarea matInput placeholder="Tittle" formControlName="title" required>

                                                </textarea>
                                            <mat-error>Tittle est obligatoire!</mat-error>
                                        </mat-form-field>

                                        <mat-form-field class="w-100-p">
                                            <textarea matInput placeholder="Subtitle" formControlName="subtitle"
                                                required>

                                                </textarea>
                                            <mat-error>Subtitle est obligatoire!</mat-error>
                                        </mat-form-field>















                                        <div>




                                            <button mat-raised-button type="button"
                                                style=" margin-left:50px; line-height: 30px; box-sizing: border-box;"
                                                (click)="previousStep()" color="accent">
                                                Retour
                                            </button>

                                            <button mat-raised-button type="button"
                                                style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                                color="accent" (click)="nextStep()">
                                                Suivant
                                            </button>

                                        </div>
                                    </div>
                                    <!--/SERVICE-->

                                    <!--Selection DU MOIS-->
                                    <div *ngIf="item=='SELECTION DU MOIS'">
                                            <div formArrayName="selling_points">
                                                    <div *ngFor="let item of sellingPoints.controls; let pointIndex=index"
                                                        [formGroupName]="pointIndex">
                                                        <mat-form-field class="w-85-p">
                                                            <mat-select placeholder="List de produits">
                                                                <mat-select-filter [placeholder]="'Filter'"
                                                                    [displayMember]="'nom'" [array]="product"
                                                                    (filteredReturn)="filteredList5 =$event">
                                                                </mat-select-filter>
                                                                <mat-option *ngFor="let item of filteredList5"
                                                                    [value]="item.nom" (click)="selectMois(item.nom)">
                                                                    <img src={{item.img}} width="30px" height="30px">  <h3>{{item.nom}}</h3>
                                                                </mat-option>
        
                                                            </mat-select>
                                                        </mat-form-field>
                                                        <button mat-raised-button type="button" (click)="openDialog()"
                                                            style="float:right; margin-right:50px; line-height: 50px; box-sizing: border-box;">Promotion</button>
                                                    </div>
                                                    <button mat-raised-button color="accent" type="button"
                                                        (click)="addSellingPoint()">Ajouter un produit </button>
                                                   
                                             
        
                                                </div>
                                      
                                        <br><br><br>
                                        <div>




                                            <button mat-raised-button type="button"
                                                style=" margin-left:50px; line-height: 30px; box-sizing: border-box;"
                                                (click)="previousStep()" color="accent">
                                                Retour
                                            </button>

                                            <button mat-raised-button type="button"
                                                style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                                color="accent" (click)="nextStep()">
                                                Suivant
                                            </button>

                                        </div>


                                    </div>
                                    <!--/Selection DU MOIS-->

                                    <!--Selection DU MOIS-->
                                    <div *ngIf="item=='SELECTION BEAUTE'">

                                            <div formArrayName="selling_points">
                                                    <div *ngFor="let item of sellingPoints.controls; let pointIndex=index"
                                                        [formGroupName]="pointIndex">
                                                        <mat-form-field class="w-85-p">
                                                            <mat-select placeholder="List de produits">
                                                                <mat-select-filter [placeholder]="'Filter'"
                                                                    [displayMember]="'nom'" [array]="product"
                                                                    (filteredReturn)="filteredList5 =$event">
                                                                </mat-select-filter>
                                                                <mat-option *ngFor="let item of filteredList5"
                                                                    [value]="item.nom" (click)="selectBeaute(item.nom)">
                                                                    <img src={{item.img}} width="30px" height="30px">        <h3>{{item.nom}}</h3>
                                                                </mat-option>
        
                                                            </mat-select>
                                                        </mat-form-field>
                                                        <button mat-raised-button type="button" (click)="openDialog()"
                                                            style="float:right; margin-right:50px; line-height: 50px; box-sizing: border-box;">Promotion</button>
                                                    </div>
                                                    <button mat-raised-button color="accent" type="button"
                                                        (click)="addSellingPoint()">Ajouter un produit </button>
                                                   
                                             
        
                                                </div>
                                      
                                        <br><br><br>
                                        <div>




                                            <button mat-raised-button type="button"
                                                style=" margin-left:50px; line-height: 30px; box-sizing: border-box;"
                                                (click)="previousStep()" color="accent">
                                                Retour
                                            </button>

                                            <button mat-raised-button type="button"
                                                style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                                color="accent" (click)="nextStep()">
                                                Suivant
                                            </button>

                                        </div>


                                    </div>
                                    <!--/Selection DU MOIS-->

                                    <!--Selection  BEBE-->
                                    <div *ngIf="item=='SELECTION BEBE'">

                                            <div formArrayName="selling_points">
                                                    <div *ngFor="let item of sellingPoints.controls; let pointIndex=index"
                                                        [formGroupName]="pointIndex">
                                                        <mat-form-field class="w-85-p">
                                                            <mat-select placeholder="List de produits">
                                                                <mat-select-filter [placeholder]="'Filter'"
                                                                    [displayMember]="'nom'" [array]="product"
                                                                    (filteredReturn)="filteredList5 =$event">
                                                                </mat-select-filter>
                                                                <mat-option *ngFor="let item of filteredList5"
                                                                    [value]="item.nom" (click)="selectBebe(item.nom)">
                                                                    <img src={{item.img}} width="30px" height="30px">                      <h3>{{item.nom}}</h3>
                                                                </mat-option>
        
                                                            </mat-select>
                                                        </mat-form-field>
                                                        <button mat-raised-button type="button" (click)="openDialog()"
                                                            style="float:right; margin-right:50px; line-height: 50px; box-sizing: border-box;">Promotion</button>
                                                    </div>
                                                    <button mat-raised-button color="accent" type="button"
                                                        (click)="addSellingPoint()">Ajouter un produit </button>
                                                   
                                             
        
                                                </div>
                                      
                                        <br><br><br>
                                        <div>




                                            <button mat-raised-button type="button"
                                                style=" margin-left:50px; line-height: 30px; box-sizing: border-box;"
                                                (click)="previousStep()" color="accent">
                                                Retour
                                            </button>

                                            <button mat-raised-button type="button"
                                                style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                                color="accent" (click)="nextStep()">
                                                Suivant
                                            </button>

                                        </div>


                                    </div>
                                    <!--/Selection DU BEBE-->


                                    <!--Selection BIEN ETRE-->
                                    <div *ngIf="item=='SELECTION BIEN ETRE'">

                                            <div formArrayName="selling_points">
                                                    <div *ngFor="let item of sellingPoints.controls; let pointIndex=index"
                                                        [formGroupName]="pointIndex">
                                                        <mat-form-field class="w-85-p">
                                                            <mat-select placeholder="List de produits">
                                                                <mat-select-filter [placeholder]="'Filter'"
                                                                    [displayMember]="'nom'" [array]="product"
                                                                    (filteredReturn)="filteredList5 =$event">
                                                                </mat-select-filter>
                                                                <mat-option *ngFor="let item of filteredList5"
                                                                    [value]="item.nom" (click)="selectBienEtre(item.nom)">
                                                                    <img src={{item.img}} width="30px" height="30px">                <h3>{{item.nom}}</h3>
                                                                </mat-option>
        
                                                            </mat-select>
                                                        </mat-form-field>
                                                        <button mat-raised-button type="button" (click)="openDialog()"
                                                            style="float:right; margin-right:50px; line-height: 50px; box-sizing: border-box;">Promotion</button>
                                                    </div>
                                                    <button mat-raised-button color="accent" type="button"
                                                        (click)="addSellingPoint()">Ajouter un produit </button>
                                                   
                                             
        
                                                </div>
                                        <br><br><br>
                                        <div>




                                            <button mat-raised-button type="button"
                                                style=" margin-left:50px; line-height: 30px; box-sizing: border-box;"
                                                (click)="previousStep()" color="accent">
                                                Retour
                                            </button>

                                            <button mat-raised-button type="button"
                                                style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                                color="accent" (click)="nextStep()">
                                                Suivant
                                            </button>

                                        </div>


                                    </div>
                                    <!--/Selection DU BIEN ETRE-->


                                    <!--Selection DU SANTE-->
                                    <div *ngIf="item=='SELECTION SANTE'">

                                            <div formArrayName="selling_points">
                                                    <div *ngFor="let item of sellingPoints.controls; let pointIndex=index"
                                                        [formGroupName]="pointIndex">
                                                        <mat-form-field class="w-85-p">
                                                            <mat-select placeholder="List de produits">
                                                                <mat-select-filter [placeholder]="'Filter'"
                                                                    [displayMember]="'nom'" [array]="product"
                                                                    (filteredReturn)="filteredList5 =$event">
                                                                </mat-select-filter>
                                                                <mat-option *ngFor="let item of filteredList5"
                                                                    [value]="item.nom" (click)="selectSante(item.nom)">
                                                                    <img src={{item.img}} width="30px" height="30px">         <h3>{{item.nom}}</h3>
                                                                </mat-option>
        
                                                            </mat-select>
                                                        </mat-form-field>
                                                        <button mat-raised-button type="button" (click)="openDialog()"
                                                            style="float:right; margin-right:50px; line-height: 50px; box-sizing: border-box;">Promotion</button>
                                                    </div>
                                                    <button mat-raised-button color="accent" type="button"
                                                        (click)="addSellingPoint()">Ajouter un produit </button>
                                                   
                                             
        
                                                </div>
                                        <br><br><br>
                                        <div>




                                            <button mat-raised-button type="button"
                                                style=" margin-left:50px; line-height: 30px; box-sizing: border-box;"
                                                (click)="previousStep()" color="accent">
                                                Retour
                                            </button>

                                            <button mat-raised-button type="button"
                                                style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                                color="accent" (click)="nextStep()">
                                                Suivant
                                            </button>

                                        </div>


                                    </div>
                                    <!--/Selection DU SANTE-->





                                </div>
                            </mat-tab>

                        </div>



                    </mat-tab-group>
                </form>

            </div>

        </div>
        <!--/ CONTENT CARD-->




    </div>
    </div>