<div id="product" class="page-layout carded fullwidth">
  
   <!-- TOP BACKGROUND -->
   <div class="top-bg accent"></div>
   <!-- / TOP BACKGROUND -->
   <div class="center">
      <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

          <div fxLayout="row" fxLayoutAlign="start center">

              <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/app/overview/dashboard'">
                  <mat-icon>arrow_back</mat-icon>
              </button>



              <div fxLayout="column" fxLayoutAlign="start start">
                  <div class="h2">
                      Leaflet
                  </div>

                  <div class="subtitle secondary-text">
                      <span>Configurer votre leaflet</span>
                  </div>
              </div>
          </div>



        </div>
        <div class="content-card">

            <div>


                <!--<form name="productForm"  [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex
                    (ngSubmit)="onSubmit()">-->
                    <mat-tab-group >

                        <mat-tab label="CREATION DU MODELE DE FLYER" class="w-100-p">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <!--<mat-form-field class="w-100-p">
                                    <input matInput [matDatepicker]="picker" formControlName="date"
                                        placeholder="Choose a date" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>-->
                               <mat-form-field class="w-100-p" >
<input matInput  [(ngModel)]="configsEdit.name"  placeholder="NOM DE LA CONFIGURATION" required #Name >

                               </mat-form-field> 
                               
         


        <!--  <label>
                  Selling Point: <input formControlName="point" />
                </label>
                <button  mat-raised-button type="button" color="blue" (click)="openDialog(pointIndex)">Promotion</button>


                <button  mat-raised-button type="button" style="float:right" color="accent" (click)="deleteSellingPoint(pointIndex)">Delete Selling Point</button>
                </div>
                <br>
                <button mat-raised-button color="accent" type="button" (click)="addSellingPoint()">Add Selling Point</button>
            -->

    


                          


                              <!--  <div formArrayName="events">
                                        <div *ngFor="let item of event.controls; let pointIndex=index"
                                            [formGroupName]="pointIndex">
                                            <mat-form-field class="w-85-p">
                                                <input placeholder="SAISIR UN EVENEMENT" matInput>
                                            </mat-form-field><mat-icon
                                            (click)="deleteEvent()">cancel </mat-icon>
                                            
                                        
                                        
                                    </div>
                                <br>
                                
                                        <button mat-raised-button color="accent" type="button"
                                            (click)="addEvent()">Ajouter un evenement </button>
                                        </div>
                                        -->
                               
<br><br>
                  

                               
                                <br><br>
                                <div class="w-100-p">
                                
                                    <mat-form-field class="w-100-p">
                                    <mat-label>CHOISISSER LE NOMBRE DE PAGES</mat-label>
                                    <mat-select [(value)]="configsEdit.pageNumbers"  >
                                    <mat-option *ngFor="let categorie of categories; let i=index" [value]="categorie"
                                        (click)="chooseCategories(categorie)"  > <!--[disabled]="count>choosenCategorie-1"-->
                                        {{categorie}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                                </div><br><br>

                                <div class="w-100-p" >
                                <div *ngFor="let field of tableau; let fieldIndex=index">
                                    
                                    <mat-form-field class="w-100-p">
                                        <mat-label>CHOISISSER LE CONTENUE DE LA PAGE {{fieldIndex+1}}</mat-label>
                                        <mat-select [(value)]="configsEdit.pages[fieldIndex].name" >
                                            <mat-option *ngFor="let page of pages; let i=index" [value]="page.name"
                                                (click)="selectPages(page.name,fieldIndex,page.id)"  > <!--[disabled]="count>choosenCategorie-1"-->
                                                {{page.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <br>
                                 
                                </div>
                                <ol>
                                        <div *ngFor="let ordre of configsEdit.pages">
                                            <li>
                                                {{ordre.name}}
                                            </li>
                                        </div>
                                    </ol>
                                </div>

                            </div>

                            <div>




                                <!-- <button mat-raised-button type="button" style=" margin-left:50px; line-height: 30px; box-sizing: border-box;"  color="accent" >
                            retour à la list
                        </button>-->
                                <!--<button mat-raised-button type="submit" [disabled]="productForm.invalid"
                                    style=" margin-left:50px; line-height: 30px; box-sizing: border-box;"
                                    color="accent">
                                    Genérer
                                </button>-->
                               <button mat-raised-button type="button"
                               
                                    style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box; margin-bottom: 100px"
                                    color="accent" (click)="Generate()" [disabled]="productForm.invalid">
                                    Save
                                </button>



                            </div>
                        </mat-tab>
                    </mat-tab-group>
                    <!--  </form>-->
                      </div>
        
        
        </div>


    </div>


  </div>