<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

  <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="column" fxLayoutAlign="center start">
          <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="secondary-text s-18">home</mat-icon>
              <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
              <span class="secondary-text">Editez un groupement</span>
          </div>
      
         
      </div>
  </div>
  <div class="content p-24" >

      <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
          <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
          fxFlex="1 0 auto" name="form"  #formulaire="ngForm" (ngSubmit)="submit(formulaire)">
  
          <div class="h2 mb-24">Editez un groupement</div>
          <br>
       
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="100">
                <textarea matInput placeholder="Code" ngModel name="code"   required >
                  
                </textarea>
                <mat-error>Code est obligatoire!</mat-error>
            </mat-form-field>

                  <mat-form-field fxFlex="100">
                    <input matInput placeholder="Nom" ngModel name="name"  required >
                    <mat-error>Nom est obligatoire! </mat-error>
                </mat-form-field>
                          
                        
  
              <mat-form-field fxFlex="100">
                  <input matInput placeholder="Propriétaire" ngModel name="owner"   required >
                  <mat-error> Propriétaire est obligatoire!</mat-error>
              </mat-form-field>
          </div>
  
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
  
              <mat-form-field fxFlex="100">
                  <textarea matInput placeholder="descirption"  ngModel name="descirption"  required >
                    
                  </textarea>
                  <mat-error>descirption est obligatoire!</mat-error>
              </mat-form-field>
  
            



    </div>

    <div >
        <label for="Back To list"> </label>
        <button  class="mr-80"  mat-raised-button color="accent"  routerLink="/app/Services" > Retour à la liste </button> 

        <label for="Submit Post"> </label>
        <button type="submit" class="mr-80"  mat-raised-button color="accent" [disabled]="form.invalid" style="float:right"> Submit Post </button>
    </div>

</form>
</div>


</div>
</div>
