<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Ajouter un conseil</span>
            </div>
            <div class="h1 mt-16">Conseil</div>
        </div>
    </div>


    <div class="content p-24" >

        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
            <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" name="form" [formGroup]="form" #formulaire="ngForm" (ngSubmit)="submit()">
    
            <div class="h2 mb-24">Ajoutez un conseil</div>
            <br>
         
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
    
                    <mat-form-field fxFlex="100">
                      <input matInput placeholder="Tittle" formControlName="title"  required >
                      <mat-error>title est obligatoire! </mat-error>
                  </mat-form-field>
                            
                          
    
                <mat-form-field fxFlex="100">
                    <input matInput placeholder="Subtitle" formControlName="subtitle"  required >
                    <mat-error> subtitle est obligatoire!</mat-error>
                </mat-form-field>
            </div>
    
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
    
                <!--<mat-form-field fxFlex="100">
                    <textarea matInput placeholder="text" formControlName="text"  required >
                      
                    </textarea>
                    <mat-error>text est obligatoire!</mat-error>
                </mat-form-field>-->
                
                
                <!--<app-ngx-editor [placeholder]="'Enter text here...'"  [spellcheck]="true" formControlName="text" required></app-ngx-editor>-->

                <ckeditor [editor]="Editor" data="<p>Hello, world!</p>" formControlName="text"></ckeditor>



      </div>

      
<br>
      <div >
          <label for="Back To list"> </label>
          <button  class="mr-80"  mat-raised-button color="accent"  routerLink="/app/Conseils" > Retour à la liste </button> 

          <label for="Submit Post"> </label>
          <button type="submit" class="mr-80"  mat-raised-button color="accent" [disabled]="form.invalid" style="float:right"> Submit conseil </button>
      </div>

</form>


</div>
    </div>
    </div>
