<div id="register" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="register-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/fuse.svg">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Welcome to the LinkyPharm!
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat,
            vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.
        </div>

    </div>

    <step1 *ngIf="step==1" (userEvent)=receiveUser($event)>

    </step1>

    <step2 *ngIf="step==2" (addressEvent)=receiveAddress($event)>

    </step2>


    <step3 *ngIf="step==3" (professionalInfosEvent)=receiveProfessionalInfos($event) >
        <!--(professionalInfosEvent)=receiveProfessionalInfos($event)-->
    </step3>
</div>