<div id="error-404" fxLayout="column" fxLayoutAlign="center center">

    <div class="content" fxLayout="column" fxLayoutAlign="center center">

        <div class="error-code">Compte n'est pas encore Activé</div>

        <div class="message">Desolé , mais votre compte n'est pas encore activé , veuillez contactez l'administrateur pour plus d'informations</div>

    </div>

</div>
