<div class="page-layout simple fullwidth angular-material-elements">
<!--header-->
    <div class="header accent p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">

    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
        <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="secondary-text s-18">home</mat-icon>
          
            <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
            <span class="secondary-text">List Pharmacy </span>
        </div>
        <div class="h2 mt-16">List Pharmacy</div>
    </div>

    </div>
<!--/header-->

<!--content-->
<div class="content p-48">
    <button type="button" mat-raised-button color="accent" routerLink="/app/overview/dashboard">Back</button>

    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      
      <div class="mat-elevation-z8" *ngIf="showpharma" >

        <table mat-table [dataSource]="pharmacies" matSort id="table1"  >
      
          <!-- ID Column -->
          <ng-container matColumnDef="organizationName" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header > organizationName </th>
            <td mat-cell *matCellDef="let row"> {{row.organization?.name}} </td>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> owner </th>
            <td mat-cell *matCellDef="let row"> {{row.owner?.firstName}}  {{row.owner?.lastName}}</td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> email</th>
            <td mat-cell *matCellDef="let row"> {{row?.email}} </td>
          </ng-container>
      
          <!-- Color Column -->
      
          <ng-container matColumnDef="fax">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> fax </th>
              <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row?.fax}} </td>
            </ng-container>
<!-- rue Column -->
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> phone </th>
                <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row?.phone}} </td>
              </ng-container>
     
     <!-- cp Column -->
     <ng-container matColumnDef="website">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> website </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row?.website}} </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> city </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.address?.city}} </td>
    </ng-container>
     

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> country </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.address?.country}} </td>
    </ng-container>
    

 

    <!-- Action Column -->
    <!--class="mat-column-right"-->
              <ng-container matColumnDef="action" >
          <th mat-header-cell *matHeaderCellDef style="padding-left: 80px">
            actions
          </th>
          <td mat-cell *matCellDef="let row" class="mat-column-right" >
              <button mat-button color="primary" (click)="pharmacyDetails(row.id)">Details</button>
         <button mat-button color="primary" (click)="editpharmacy(row.id,row.name)">Edit</button>
            <button mat-button color="primary" (click)="deletepharmacy(row.id)">Delete</button>
          </td>
        </ng-container>
        <!--/ Action Colum-->
          <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
          <tr mat-row  *matRowDef="let row; columns: displayedColumns;">
          </tr>
        
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>

</div>

<!--/content-->

</div>
