<div class="page-layout simple fullwidth angular-material-elements">
  <!--header-->
      <div class="header accent p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
      fxLayoutAlign.gt-xs="space-between center">
  
      <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
          <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="secondary-text s-18">home</mat-icon>
            
              <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
              <span class="secondary-text">List des produits </span>
          </div>
          <div class="h2 mt-16">List des produits</div>
      </div>
  
      </div>
  <!--/header-->
  
  <!--content-->
  <div class="content p-48">
      <button type="button" mat-raised-button color="accent" routerLink="/app/overview/dashboard">Back</button>
  
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="produits" matSort id="table1">
        
            <!-- ID Column -->
            <ng-container matColumnDef="img">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Img</th>
              <td mat-cell *matCellDef="let row" [style.color]="row.color">
                <img class="logo-icon" width="45" height="45" src={{row.img}} >
              </td>
            </ng-container>

            <ng-container matColumnDef="nom" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header (onclick)="getoption()"> Nom </th>
              <td mat-cell *matCellDef="let row"> {{row.nom}} </td>
            </ng-container>
        
            <!-- Progress Column -->
            <ng-container matColumnDef="laboratoire">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Laboratoire</th>
              <td mat-cell *matCellDef="let row"> {{row.laboratoire}}</td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
              <td mat-cell *matCellDef="let row">{{row.description}}</td>
            </ng-container>
        
            <!-- Color Column -->
        
            <ng-container matColumnDef="cipaclean">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cipaclean</th>
                <td mat-cell *matCellDef="let row" [style.color]="row.color">{{row.cipaclean}}</td>
              </ng-container>
  <!-- rue Column -->
              <ng-container matColumnDef="gamme">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Gamme </th>
                  <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.gamme}} </td>
                </ng-container>
       
       <!-- cp Column -->
       <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.quantity}} </td>
      </ng-container>
  
      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit</th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.unit}} </td>
      </ng-container>
       
      <ng-container matColumnDef="prix">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Prix</th>
          <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.prix}} </td>
        </ng-container>

      <ng-container matColumnDef="format">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Format</th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color">{{row.format}}</td>
      </ng-container>

      
     
      
  
    
  
      <!-- Action Column -->
      
                <ng-container matColumnDef="action" >
            <th mat-header-cell *matHeaderCellDef style="padding-left: 50px"class="mat-column-right">
              actions
            </th>
            <td mat-cell *matCellDef="let row" class="mat-column-right" >
           <button mat-button color="primary" (click)="editproduit(row.id)">Edit</button>
           <button mat-button color="primary" (click)="deleteproduit(row.id)">Delete</button>
            </td>
          </ng-container>
          <!--/ Action Colum-->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
  
  </div>
  
  <!--/content-->
  
  </div>
  