table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 0%;
  }
  
  #table1 {
    border-collapse: separate;
    border-spacing: 15px;
  }