<div id="product" class="page-layout carded fullwidth">

    <div class="top-bg accent"></div>
    <div class="center">
        <!--Header-->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/app/overview/dashboard'">
                    <mat-icon>arrow_back</mat-icon>
                </button>



                <div fxLayout="column" fxLayoutAlign="start start">
                    <div class="h2">
                        Flyer
                    </div>

                    <div class="subtitle secondary-text">
                        <span>Product Detail</span>
                    </div>
                </div>
            </div>


        </div>
        <!--Header-->

        <div class="content-card">

            
                <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedTabChange)="tabChanged($event)">

                    <div *ngFor="let pages of tab ; let i=index">
                        <mat-tab label={{pages.name}}>
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <!--Selection A la UNE-->
                                <div *ngIf="pages.name=='SELECTION A LA UNE'">
                                 

                                    <!--   <mat-select placeholder="List de produits">
                                            <mat-select-filter [placeholder]="'Filter'" [displayMember]="'nom'"
                                                [array]="product" (filteredReturn)="filteredList5 =$event">
                                            </mat-select-filter>
                                            <mat-option *ngFor="let item of filteredList5" [value]="item.nom"
                                                (click)="testOption(item.nom)">
                                                <h3>{{item.nom}}</h3>
                                            </mat-option>
                                        </mat-select>-->
                                    <div>
                                            <mat-form-field class="w-100-p">
                                            <mat-label>CHOISISSER UN MOIS</mat-label>
                                            <mat-select [(value)]="selectedMois[i]">
                                            <mat-option *ngFor="let moi of mois" (click)="selectMois(moi,i)"[value]="moi">
                                                {{moi}}
                                            </mat-option>
                                            
                                            </mat-select>
                                            </mat-form-field>

                                            <mat-form-field class="w-100-p">
                                                    <mat-label>CHOISISSER UNE PHARMACIE</mat-label>
                                                    <mat-select  required>
                                                            <mat-select-filter [placeholder]="'Filter'" [displayMember]="'name'"
                                                            [array]="pharmacies" (filteredReturn)="filteredList1 =$event">
                                                        </mat-select-filter>
                                                        <mat-option *ngFor="let pharmacie of filteredList1" [value]="pharmacie.name"
                                                            (click)="selectPharmacie(pharmacie,i)">{{pharmacie.name}}</mat-option>
                                                    </mat-select>
                
                
                                                   
                                                </mat-form-field>

<br><br>
                                        <div *ngFor="let item of arrayUne[i]; let pointIndex=index">
                                            <h2>PRODUIT {{pointIndex+1}}</h2>
                                            <mat-form-field class="w-85-p"><!--[(value)]="produitAlaune[pointIndex].?nom"-->
                                                <mat-select placeholder="List de produits" >
                                                    <mat-select-filter [placeholder]="'Filter'" [displayMember]="'nom'"
                                                        [array]="product" (filteredReturn)="filteredList5 =$event">
                                                    </mat-select-filter>
                                                    <mat-option *ngFor="let item of filteredList5 " [value]="item.nom"
                                                        (click)="selectUne(item,pointIndex,i)">
                                                        <img src={{item.img}} width="30px" height="30px"> {{item.nom}}
                                                    </mat-option>

                                                </mat-select>
                                            </mat-form-field>
                                          
                                            <!-- <app-dialog-content-example-dialog hidden [pointIndex]="pointIndex" ></app-dialog-content-example-dialog>-->
                                            <button mat-raised-button type="button" 
                                                style="float:right; margin-right:20px; line-height: 50px; box-sizing: border-box; " [color]="color" (click)="openDialogUne(i,pointIndex)">Promotion</button>
                                                
                                              
                                            <button type="button">
                                                <mat-icon (click)="deleteSellingPoint(i,pointIndex)">delete</mat-icon>
                                            </button>
                                           
                                        </div>
                                        <button class="btn btn-success btn-lg" type="button"
                                            (click)="addSellingPoint(i)">Ajouter un produit </button>
                                        <!--  <label>
                                                  Selling Point: <input formControlName="point" />
                                                </label>
                                                <button  mat-raised-button type="button" color="blue" (click)="openDialog(pointIndex)">Promotion</button>
                            
                            
                                                <button  mat-raised-button type="button" style="float:right" color="accent" (click)="deleteSellingPoint(pointIndex)">Delete Selling Point</button>
                                                </div>
                                                <br>
                                                <button mat-raised-button color="accent" type="button" (click)="addSellingPoint()">Add Selling Point</button>
                                            -->

                                    </div>




                                    <br><br><br>
                                    <div>

                                        <button *ngIf="i==tab.length-1" mat-raised-button type="submit"
                                            style=" float:right ; margin-right:5px; line-height: 30px; box-sizing: border-box;"
                                            color="accent" (click)="onSubmit()">
                                            Génerer

                                        </button>


                                        <button mat-raised-button type="button"
                                            style=" margin-left:50px; line-height: 30px; box-sizing: border-box;"
                                            (click)="previousStep()" color="accent">
                                            Retour
                                        </button>

                                        <button mat-raised-button type="button" *ngIf="i!=tab.length-1"
                                            style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                            color="accent" (click)="nextStep()">
                                            Suivant
                                        </button>

                                    </div>


                                </div>
                                <!--/Selection A la UNE-->

                                <!--PUBLLICITE-->
                                <div *ngIf="pages.name=='PUBLICITE'">
                                    <mat-form-field class="w-100-p">
                                        <input #input8 type="text" placeholder="image url" aria-label="Number"
                                            matInput  (change)="trackChange(i,input8)">


                                    </mat-form-field>

                                    <button *ngIf="i==tab.length-1" mat-raised-button type="submit"
                                        style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                        color="accent" (click)="onSubmit()">
                                        Génerer
                                    </button>
                                    <div>
                                        <button mat-raised-button type="button"
                                            style=" margin-left:50px; line-height: 30px; box-sizing: border-box;"
                                            (click)="previousStep()" color="accent">
                                            Retour
                                        </button>

                                        <button *ngIf="i!=tab.length-1" mat-raised-button type="button"
                                            style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                            color="accent" (click)="nextStep()">
                                            Suivant
                                        </button>
                                    </div>
                                </div>
                                <!--/PUBLLICITE-->


                                <!--NOUVEAUTES-->

                                <div *ngIf="pages.name=='NOUVEAUTES'">

                                 
                                    <div>
                                        <div *ngFor="let item of arrayNouveaute[i]; let pointIndex=index">
                                                <h1>NOUVEAUTES {{pointIndex+1}}</h1>
                                            <mat-form-field class="w-90-p">
                                                <input type="text" placeholder="titre" aria-label="Number" [(ngModel)]="Nouvaute[pointIndex].titre" matInput
                                                    #input (change)="titrechange(input,pointIndex,i)">




                                            </mat-form-field>

                                            <mat-form-field class="w-90-p">
                                                <input type="text" placeholder="sous-titre" aria-label="Number" matInput
                                                    #inputstt  (change)="sousTitreChange(inputstt,pointIndex,i)">
                                            </mat-form-field>   <button type="button" style="margin-left:50px">
                                                <mat-icon (click)="deleteNouvelle(i,pointIndex)">delete</mat-icon>
                                            </button>

                                            <mat-form-field class="w-90-p">
                                                <input type="text" placeholder="Description" aria-label="Number" matInput
                                                    #inputst   (change)="descriptionChange(inputst,pointIndex,i)">
                                            </mat-form-field>
                                            <mat-form-field class="w-90-p">
                                                <input matInput placeholder="Url de l'image" #image3 (change)="imageSante(i,pointIndex,image3)">
                                            </mat-form-field>
                                         
                                            <br>
                                            <!--(click)="openDialog(pointIndex)"-->
                                            <!-- <app-dialog-content-example-dialog hidden [pointIndex]="pointIndex" ></app-dialog-content-example-dialog>
                                            <button mat-raised-button type="button" 
                                                style="float:right; margin-right:50px; line-height: 50px; box-sizing: border-box;" (click)="openDialog()">Promotion</button>
                                                
                                              <app-forums hidden [INDEX]="pointIndex"></app-forums>-->

                                        </div>
                                        <br>
                                        <button class="btn btn-success btn-lg" type="button" [disabled]="hidenNouveau"
                                            (click)="addNouvelle(i)"  [disabled]="hiddenNouveau[i].hide">Ajouter une nouveautée </button>


                                        <!-- <label>
                                                  Selling Point: <input formControlName="point" />
                                                </label>
                                        
                            
                            
                                                <button  mat-raised-button type="button" style="float:right" color="accent" (click)="deleteSellingPoint(pointIndex)">Delete Selling Point</button>
                                                </div>
                                                <br>
                                                <button mat-raised-button color="accent" type="button" (click)="addSellingPoint()">Add Selling Point</button>-->


                                    </div>

                                    <br><br>





                                    <button *ngIf="i==tab.length-1" mat-raised-button type="submit"
                                        style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                        color="accent">
                                        Génerer
                                    </button>

                                    <button mat-raised-button type="button"
                                        style=" margin-left:5px; line-height: 30px; box-sizing: border-box;"
                                        (click)="previousStep()" color="accent">
                                        Retour
                                    </button>

                                    <button mat-raised-button type="button" *ngIf="i!=tab.length-1"
                                        style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                        color="accent" (click)="nextStep()">
                                        Suivant
                                    </button>



                                </div>


                                <!--/NOUVEAUTES-->

                                <!--CONSEIL-->

                                <div *ngIf="pages.name=='CONSEIL'">
                                    <h1>CONSEIL</h1>


                                    <mat-form-field class="w-100-p">
                                        <input type="text" placeholder="titre" aria-label="Number" matInput #input1
                                            (change)="titreConseil(input1,i)">

                                    </mat-form-field>

                                    <mat-form-field class="w-100-p">
                                        <input type="text" placeholder="sous-titre" aria-label="Number" matInput #input2
                                            (change)="soustitreConseil(input2,i)">

                                    </mat-form-field>

                                    <mat-form-field class="w-100-p">
                                        <textarea type="text" placeholder="text" aria-label="Number" matInput #input3
                                            (change)="textConseil(input3,i)">
                                </textarea>
                                    </mat-form-field>
                                    <mat-form-field class="w-90-p">
                                        <input matInput placeholder="Url de l'image" #image2 (change)="imagebienEtre(i,pointIndex,image2)">
                                    </mat-form-field>


<br><br>






                                    <button *ngIf="i==tab.length-1" mat-raised-button type="submit"
                                        style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                        color="accent" (click)="onSubmit()">
                                        Génerer

                                    </button>

                                    <button mat-raised-button type="button"
                                        style=" margin-left:50px; line-height: 30px; box-sizing: border-box;"
                                        (click)="previousStep()" color="accent">
                                        Retour
                                    </button>

                                    <button mat-raised-button type="submit" *ngIf="i!=tab.length-1"
                                        style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                        color="accent">
                                        SUIVANT
                                    </button>

                                </div>

                                <!--/CONSEIL-->


                                <!--/CONSEIL-->

                                <!--SERVICE-->
                                <div *ngIf="pages.name=='SERVICE'">

                                    <div class="h2 mb-24">
                                        <h1>AJOUTER UN SERVICE </h1>
                                    </div>
                                    <br><br>
                                    <div>
                                        <!--formArrayName="arrayConseil"-->


                                        <div *ngFor="let item of arrayConseil[i]; let pointIndex=index">

                                            <div class="h2 mb-24">
                                                <h1>SERVICE {{pointIndex+1}} </h1>
                                            </div>

                                            <mat-form-field class="w-90-p">
                                                <input matInput placeholder="Icon" #inputicon
                                                    (change)="iconChange(inputicon,pointIndex,i)" required>
                                                <mat-error> icon est obligatoire!</mat-error>
                                            </mat-form-field> <button style="margin-left:50px" type="button">
                                                    <mat-icon (click)="deleteConseil(i,pointIndex)">delete</mat-icon>
</button>



                                            <mat-form-field class="w-90-p">
                                                <textarea matInput placeholder="Tittle" #inputtitle
                                                    (change)="titreserviceChange(inputtitle,pointIndex,i)" required>

                                            </textarea>
                                                <mat-error>Tittle est obligatoire!</mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="w-90-p">
                                                <textarea matInput placeholder="Subtitle" #inputsubtitle
                                                    (change)="soustitreServieChange(inputtitle,pointIndex,i)" required>

                                            </textarea>
                                       
                                     
                                                <mat-error>Subtitle est obligatoire!</mat-error>
                                            </mat-form-field> 
                                                <mat-form-field class="w-90-p">
                                                    <input matInput placeholder="Url de l'image" #imageBeaute (change)="imageBeaute(i,pointIndex,imageBeaute)">
                                                </mat-form-field>
                                            

                                            <br>

                                        </div>
                                        <br>


                                        <button class="btn btn-success btn-lg" type="button" [disabled]="hidden[i].hide"
                                            (click)="addConseil(item,pointIndex,i)">Ajouter un service </button>


                                    </div>


                                    <br><br>







                                    <div>


                                        <button *ngIf="i==tab.length-1" mat-raised-button type="submit"
                                            style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                            color="accent" (click)="onSubmit()">
                                            Génerer
                                        </button>
                                      
                                        <button mat-raised-button type="button"
                                            style=" margin-left:5px; line-height: 30px; box-sizing: border-box;"
                                            (click)="previousStep()" color="accent">
                                            Retour
                                        </button>

                                        <button mat-raised-button type="button" *ngIf="i!=tab.length-1"
                                            style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                            color="accent" (click)="nextStep()">
                                            Suivant
                                        </button>

                                    </div>
                                </div>
                                <!--/SERVICE-->

                                <!--Selection DU MOIS-->
                                <div *ngIf="pages.name=='SELECTION DU MOIS'">
                                    <div formArrayName="selling_points">
                                        <div *ngFor="let item of sellingPoints.controls; let pointIndex=index"
                                            [formGroupName]="pointIndex">
                                            <mat-form-field class="w-85-p">
                                                <mat-select placeholder="List de produits">
                                                    <mat-select-filter [placeholder]="'Filter'" [displayMember]="'nom'"
                                                        [array]="product" (filteredReturn)="filteredList5 =$event">
                                                    </mat-select-filter>
                                                    <mat-option *ngFor="let item of filteredList5" [value]="item.nom"
                                                        (click)="selectMois(item.nom,pointIndex,i)">
                                                        <img src={{item.img}} width="30px" height="30px">
                                                        <h3>{{item.nom}}</h3>
                                                    </mat-option>

                                                </mat-select>
                                            </mat-form-field>
                                            <!-- <button mat-raised-button type="button" (click)="openDialog()"
                                                        style="float:right; margin-right:50px; line-height: 50px; box-sizing: border-box;">Promotion</button>-->
                                        </div>
                                        <button mat-raised-button color="accent" type="button"
                                            (click)="addSellingPoint()">Ajouter un produit </button>



                                    </div>

                                    <br><br><br>
                                    <div>

                                        <button *ngIf="i==tab.length-1" mat-raised-button type="submit"
                                            style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                            color="accent">
                                            Génerer

                                        </button>


                                        <button mat-raised-button type="button"
                                            style=" margin-left:50px; line-height: 30px; box-sizing: border-box;"
                                            (click)="previousStep()" color="accent">
                                            Retour
                                        </button>

                                        <button mat-raised-button type="button" *ngIf="i!=tab.length-1"
                                            style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                            color="accent" (click)="nextStep()">
                                            Suivant
                                        </button>

                                    </div>


                                </div>
                                <!--/Selection DU MOIS-->

                                <!--Selection DU MOIS-->
                                <div *ngIf="pages.name=='SELECTION BEAUTE'">

                                    <div>
                                        <div *ngFor="let item of arrayBeaute[i]; let pointIndex=index">
                                               <h2>PRODUIT {{pointIndex+1}}</h2> 
                                            <mat-form-field class="w-85-p">
                                                <mat-select placeholder="List de produits">
                                                    <mat-select-filter [placeholder]="'Filter'" [displayMember]="'nom'"
                                                        [array]="product" (filteredReturn)="filteredList5 =$event">
                                                    </mat-select-filter>
                                                    <mat-option *ngFor="let item of filteredList5" [value]="item.nom"
                                                        (click)="selectBeaute(item,pointIndex,i)">
                                                        <img src={{item.img}} width="30px" height="30px"> {{item.nom}}
                                                    </mat-option>

                                                </mat-select>
                                            </mat-form-field>
                                            <button type="button">
                                                    <mat-icon (click)="deleteBeaute(i,pointIndex)">delete</mat-icon>
                                                </button>
                                            <button mat-raised-button type="button" [color]="colorBeaute[pointIndex]" (click)="openDialogBeaute(i,pointIndex)"
                                                style="float:right; margin-right:20px; line-height: 50px; box-sizing: border-box;">Promotion</button>
                                               
                                            
                                           
                                        </div>
                                        <br><br>
                                        <button type="button" class="btn btn-success btn-lg" (click)="addBeaute(i) " [disabled]="hiddenBeaute[i].hide">
                                            Ajouter un produit</button>



                                    </div>

                                    <br><br><br>
                                    <div>


                                        <button *ngIf="i==tab.length-1" mat-raised-button type="submit" color="accent"
                                            style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;" (click)="onSubmit()">
                                            Génerer

                                        </button>


                                        <button mat-raised-button type="button"
                                            style=" margin-left:5px; line-height: 30px; box-sizing: border-box;"
                                            color="accent" (click)="previousStep()">
                                            Retour
                                        </button>

                                        <button mat-raised-button type="button" *ngIf="i!=tab.length-1"
                                            style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                            color="accent" (click)="nextStep()">
                                            Suivant
                                        </button>

                                    </div>


                                </div>
                                <!--/Selection DU MOIS-->

                                <!--Selection  BEBE-->
                                <div *ngIf="pages.name=='SELECTION BEBE'">

                                    <div>
                                        <div *ngFor="let item of arrayBebe[i]; let pointIndex=index">
<h2>PRODUIT {{pointIndex+1}}</h2>
                                            <mat-form-field class="w-85-p">
                                                <mat-select placeholder="List de produits">
                                                    <mat-select-filter [placeholder]="'Filter'" [displayMember]="'nom'"
                                                        [array]="product" (filteredReturn)="filteredList5 =$event">
                                                    </mat-select-filter>
                                                    <mat-option *ngFor="let item of filteredList5" [value]="item.nom"
                                                        (click)="selectBebe(item,pointIndex,i)">
                                                        <img src={{item.img}} width="30px" height="30px"> {{item.nom}}
                                                    </mat-option>

                                                </mat-select>
                                            </mat-form-field>
                                            <button mat-raised-button type="button" [color]="colorBebe[pointIndex]" (click)="openDialogBebe(i,pointIndex)"
                                                style="float:right; margin-right:10px; line-height: 50px; box-sizing: border-box;">Promotion</button>

                                            <button>
                                                <mat-icon (click)="deleteBebe(i,pointIndex)">delete</mat-icon>
                                            </button>
                                      
                                        </div>
                                        <br><br>
                                        <button class="btn btn-success btn-lg" type="button"
                                            (click)="addBebe(i)" [disabled]="hiddenBebe[i].hide">Ajouter un produit </button>



                                    </div>

                                    <br><br><br>
                                    <div>


                                        <button *ngIf="i==tab.length-1" mat-raised-button type="submit"
                                            style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                            color="accent" (click)="onSubmit()">
                                            Génerer

                                        </button>


                                        <button mat-raised-button type="button"
                                            style=" margin-left:5px; line-height: 30px; box-sizing: border-box;"
                                            (click)="previousStep()" color="accent">
                                            Retour
                                        </button>

                                        <button mat-raised-button type="button" *ngIf="i!=tab.length-1"
                                            style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                            color="accent" (click)="nextStep()">
                                            Suivant
                                        </button>

                                    </div>


                                </div>
                                <!--/Selection DU BEBE-->


                                <!--Selection BIEN ETRE-->
                                <div *ngIf="pages.name=='SELECTION BIEN ETRE'">

                                    <div>
                                        <div *ngFor="let item of arraybienEtre[i]; let pointIndex=index">
                                            <h2>PRODUIT {{pointIndex+1}}</h2>
                                            <mat-form-field class="w-85-p">
                                                <mat-select placeholder="List de produits">
                                                    <mat-select-filter [placeholder]="'Filter'" [displayMember]="'nom'"
                                                        [array]="product" (filteredReturn)="filteredList5 =$event">
                                                    </mat-select-filter>
                                                    <mat-option *ngFor="let item of filteredList5" [value]="item.nom"
                                                        (click)="selectBienEtre(item,pointIndex,i)">
                                                        <img src={{item.img}} width="30px" height="30px"> {{item.nom}}
                                                    </mat-option>

                                                </mat-select>
                                            </mat-form-field>
                                            <button mat-raised-button type="button" [color]="colorbienEtre[pointIndex]" (click)="openDialogbienEtre(i,pointIndex)"
                                                style="float:right; margin-right:20px; line-height: 50px; box-sizing: border-box;">Promotion</button>
                                            <mat-icon (click)="deletebienEtre(i,pointIndex)">delete</mat-icon>
                                        </div>
                                        <br><br>
                                        <button class="btn btn-success btn-lg" type="button"
                                            (click)="addbienEtre(i)" [disabled]="hiddenbienEtre[i].hide">Ajouter un produit </button>

                                            

                                    </div>
                                    <br><br><br>
                                    <div>


                                        <button *ngIf="i==tab.length-1" mat-raised-button type="submit"
                                            style=" float:right ; margin-right:5px; line-height: 30px; box-sizing: border-box;"
                                            color="accent" (click)="onSubmit()">
                                            Génerer

                                        </button>

                                        <button mat-raised-button type="button"
                                            style=" margin-left:50px; line-height: 30px; box-sizing: border-box;"
                                            (click)="previousStep()" color="accent">
                                            Retour
                                        </button>

                                        <button mat-raised-button type="button" *ngIf="i!=tab.length-1"
                                            style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                            color="accent" (click)="nextStep()">
                                            Suivant
                                        </button>

                                    </div>


                                </div>
                                <!--/Selection DU BIEN ETRE-->


                                <!--Selection DU SANTE-->
                                <div *ngIf="pages.name=='SELECTION SANTE'">

                                    <div>
                                        <div *ngFor="let item of arraySante[i]; let pointIndex=index">
                                            <h2>PRODUIT {{pointIndex+1}}</h2>
                                            <mat-form-field class="w-85-p">
                                                <mat-select placeholder="List de produits">
                                                    <mat-select-filter [placeholder]="'Filter'" [displayMember]="'nom'"
                                                        [array]="product" (filteredReturn)="filteredList5 =$event">
                                                    </mat-select-filter>
                                                    <mat-option *ngFor="let item of filteredList5" [value]="item.nom"
                                                        (click)="selectSante(item,pointIndex,i)">
                                                        <img src={{item.img}} width="30px" height="30px"> {{item.nom}}
                                                    </mat-option>

                                                </mat-select>
                                            </mat-form-field>
                                            <button mat-raised-button type="button" [color]="colorSante[pointIndex]" (click)="openDialogSante(i,pointIndex)"
                                                style="float:right; margin-right:20px; line-height: 50px; box-sizing: border-box;">Promotion</button>
                                            <mat-icon (click)="deleteSante(i,pointIndex)">delete</mat-icon>
                                         
                                        </div>
                                        <br><br>
                                        <button class="btn btn-success btn-lg" type="button"
                                            (click)="addSante(i)" [disabled]="hiddenSante[i].hide">Ajouter un produit </button>


                                        
                                    </div>
                                    <br><br><br>
                                    <div>


                                        <button *ngIf="i==tab.length-1" mat-raised-button type="submit"
                                            style=" float:right ; margin-right:5px; line-height: 30px; box-sizing: border-box;"
                                            color="accent" (click)=onSubmit()>
                                            Génerer

                                        </button>

                                        <button mat-raised-button type="button"
                                            style=" margin-left:50px; line-height: 30px; box-sizing: border-box;"
                                            (click)="previousStep()" color="accent">
                                            Retour
                                        </button>

                                        <button mat-raised-button type="button" *ngIf="i!=tab.length-1"
                                            style=" float:right ; margin-right:50px; line-height: 30px; box-sizing: border-box;"
                                            color="accent" (click)="nextStep()">
                                            Suivant
                                        </button>

                                    </div>


                                </div>
                                <!--/Selection DU SANTE-->





                            </div>
                            <ngx-spinner bdColor="rgba(51,51,51,0.8)"
                            size="medium"
                            color="#fff"
                            type="ball-scale-multiple"><p style="font-size: 20px; color: white">Loading...</p></ngx-spinner>
                        </mat-tab>

                    </div>







                </mat-tab-group>
          



        </div>


    </div>







</div>