<div class="page-layout simple fullwidth inner-scroll" 
fxLayout="column" 
*ngIf=" (this.userRolePriority ==role3)"
>
    
    
    <img src="assets/images/error/404_error.png" 
    alt="error"
    >
</div>
<div id="products" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- HEADER -->
      <div class="header accent"
           fxLayout="column" fxLayoutAlign="center center"
           fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

          <!-- APP TITLE -->
          <div class="logo my-12 m-sm-0"
               fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="logo-icon mr-16" >
                picture_as_pdf
              </mat-icon>
              <span class="logo-text h1" >
                  Historique
              </span>
          </div>
          <!-- / APP TITLE -->

          <!-- SEARCH -->
          <div class="search-input-wrapper mx-24 m-md-0"
               fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
              <label for="search" class="mr-8">
                  <mat-icon class="secondary-text">search</mat-icon>
              </label>
              <mat-form-field floatLabel="never" fxFlex="1 0 auto">
                  <input id="search" matInput #filter placeholder="Search">
              </mat-form-field>
          </div>
          <!-- / SEARCH -->

          <button mat-raised-button
                [routerLink]="'/app/add-post'"
                  class="add-product-button fuse-white my-12 mt-sm-0">
              <span> Génerer une affiche </span>
          </button>

      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card">

          <mat-table class="products-table"
                     #table [dataSource]="dataSource"
                     matSort
                     
                     fusePerfectScrollbar>

              <!-- ID Column -->
              <ng-container matColumnDef="Image">
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="margin-left:20px">Image</mat-header-cell>
                  <mat-cell *matCellDef="let product">
                      <img [src]="product.value[11].value " width="40px" height="40px" style="margin-left: 20px">
                  </mat-cell>
              </ng-container>

              <!-- Image Column -->
         
              <!-- Name Column -->
              <ng-container matColumnDef="Nom">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
                  <mat-cell *matCellDef="let product">
                      <p class="text-truncate" style="margin-left:10px">{{product.value[2].value}}</p>
                  </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Nom Promotion">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Nom Promotion</mat-header-cell>
                <mat-cell *matCellDef="let product">
                    <p class="text-truncate" style="margin-left:10px">{{product.value[1].value}}</p>
                </mat-cell>
            </ng-container>

              <!-- labo Column -->
              <ng-container matColumnDef="Description">
                  <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Description</mat-header-cell>
                  <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
                      <p class="category text-truncate" style="margin-left:10px">
                         
                        {{product.value[3].value}}
                      </p>
                  </mat-cell>
              </ng-container>

 <!-- gamme Column -->

              <ng-container matColumnDef="Produit">
                <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Produit</mat-header-cell>
                <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
                    <p class="category text-truncate" style="margin-left:10px">
                       
                      {{product.value[4].value}}
                    </p>
                </mat-cell>
            </ng-container>

 <!-- gamme Column -->

 <ng-container matColumnDef="Type">
  <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Type</mat-header-cell>
  <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
      <p class="category text-truncate" style="margin-left:20px">
         
        {{product.templateId < 20 ? 'Image': 'Sans Image'}}
      </p>
  </mat-cell>
</ng-container>


              <!-- Active Column -->
              <ng-container matColumnDef="active">
                  <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Active</mat-header-cell>
                  <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs style="padding-right:100px">
                    <button mat-button color="primary" (click)="visualiserAfficher(product.id)" >Visusaliser</button>
            
                  </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

              <mat-row *matRowDef="let product; columns: displayedColumns;"
                       class="product"
                       matRipple
                      >
              </mat-row>

          </mat-table>

          <mat-paginator #paginator
                         [length]="dataSource.filteredData.length"
                         [pageIndex]="0"
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>

      </div>
      <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>



