/*@import "src/@fuse/scss/fuse";

.example-container {
	display: flex;
	flex-direction: column;
	> * {
		width: 100%;
	}
	form {
		margin-bottom: 20px;
		> * {
			margin: 5px 0;
		}
	}
	.mat-radio-button {
		margin: 0 5px;
	}
}
.example-margin {
	margin: 0 10px;
}
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  :host {

    .angular-material-elements {

        > .content {
            max-width: 960px;
        }
    }
}

.example-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
  }
  
  .example-full-width {
	width: 100%;
  }
  .category-selector{
	min-width: 200px;
  }
  .course-search{
	width: 200px;

	@include media-breakpoint-down('xs') {
		margin-bottom: 16px;
	}

	@include media-breakpoint-up('sm') {
		margin-right: 16px;
	}
  }*/
