<div id="products" class="page-layout carded fullwidth inner-scroll" >

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- HEADER -->
      <div class="header accent"
           fxLayout="column" fxLayoutAlign="center center"
           fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

          <!-- APP TITLE -->
          <div class="logo my-12 m-sm-0"
               fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="logo-icon mr-16" >
                  build
              </mat-icon>
              <span class="logo-text h1" >
                  Configurations
              </span>
          </div>
          <!-- / APP TITLE -->

          <!-- SEARCH -->
          <div class="search-input-wrapper mx-24 m-md-0"
               fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
              <label for="search" class="mr-8">
                  <mat-icon class="secondary-text">search</mat-icon>
              </label>
             <!--old filter-->
             <!-- <mat-form-field floatLabel="never" fxFlex="1 0 auto">
                  <input id="search" #filter matInput  placeholder="Search">
              </mat-form-field>-->
              <!--//oldFilter-->
<!--New Filter Test-->
<mat-form-field floatLabel="never" fxFlex="1 0 auto">
<input class="form-control" type="text" name="search" matInput [(ngModel)]="searchText" autocomplete="off" placeholder="Search" >
</mat-form-field>
<!--//New Filter Test-->
          </div>
          <!-- / SEARCH -->


      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card" >
   <!--"dataSource"-->
          <mat-table class="products-table"
                     #table [dataSource]="configs | filter:searchText"
                     matSort
                 
                     fusePerfectScrollbar >

              <!-- ID Column -->
              <ng-container matColumnDef="Date">
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="margin-left:20px">Date</mat-header-cell>
                  <mat-cell *matCellDef="let product">
                      <p class="category text-truncate" style="margin-left:10px">
                         
                          {{date | date: 'yyyy-MM-dd'}}
                        </p>
                  </mat-cell>
              </ng-container>

              <!-- Image Column -->
         
              <!-- Name Column -->
              <ng-container matColumnDef="Nom">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
                  <mat-cell *matCellDef="let product">
                      <p class="text-truncate" style="margin-left:10px">{{product.name}}</p>
                  </mat-cell>
              </ng-container>

              <!-- labo Column -->
              <ng-container matColumnDef="Nombres de Pages">
                  <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Nombres de Pages</mat-header-cell>
                  <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
                      <p class="category text-truncate" style="margin-left:60px">
                         
                        {{product.pageNumbers}}
                      </p>
                  </mat-cell>
              </ng-container>

 <!-- gamme Column -->

              <ng-container matColumnDef="List des Pages">
                <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>List des Pages</mat-header-cell>
                <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
                    <p class="category text-truncate" *ngFor="let page of product.pages" style="margin-left:10px">
                       
                      {{page.name}}
                    </p>
                </mat-cell>
            </ng-container>

 <!-- gamme Column -->



              <!-- Active Column -->
              <ng-container matColumnDef="active">
                  <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Active</mat-header-cell>
                  <mat-cell *matCellDef="let product; let i=index" fxHide fxShow.gt-xs style="padding-right:100px">
                   
               
                    <button mat-button color="primary" (click)="showClick(i)">Génerer</button>
                  </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

              <mat-row *matRowDef="let product; columns: displayedColumns; let i=index"
                       class="product"
                       matRipple
                       
              >
              </mat-row>

          </mat-table>

          <mat-paginator 
          [length]="configs.length"
                         [pageIndex]="0"
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        
      </div>
      <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
